<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div class="container">
        <div data-template="wiki:dokuwiki" data-template-id="gesamtdokumentation"/>
    </div>
    <script>$.getScript('js/jquery.lazyload.min.js',function(){$('.imgLazy').lazyload({});});</script>
</div>
