<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
<div>
    <div class="section-header et-section-header" style="position:fixed; z-index:100; width: 100%;">
        <div class="container">
            <div class="row">
                <!-- app:nav includes navigation buttons (arrows) in case of pagewise rendering -->
                <div data-template="f-misc:pageNav"/>
                <div data-template="f-misc:editedTextContent"/>
                <div data-template="f-misc:notebookNav"/>
            </div>
        </div>
    </div>
    <div id="editedText" class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-top: 120px;">
            <div data-template="f-render:edited-text"/>
        </div>
    </div>
</div>
<div id="tooltip"/>
<script>
    $.getScript('js/jquery.lazyload.min.js',function(){$('.imgLazy').lazyload({});});
</script>
<script src="js/editedText.js"/>
</div>
