<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
<div>
    <div class="section-header" style="position:fixed; z-index:100; width: 100%;">
        <div class="container">
            <div class="row">
                <!-- app:nav includes navigation buttons (arrows) in case of pagewise rendering -->
                <div data-template="f-misc:pageNav"/>
                <div data-template="f-misc:content"/>
                <div class="col-xs-5 col-md-2">
                    <h1 id="tocBtn" class="animated slideInRight">
                        <span>
                            <i class="fa fa-list"/>
                        </span>
                    </h1>
                    <h1 id="btns" class="animated slideInRight inactive">
                        <span>
                            <i class="fa fa-plus"/>
                        </span>
                    </h1>
                    <h1 id="infoViewer" class="animated slideInRight inactive">
                        <span>
                            <i class="fa fa-info-circle"/>
                        </span>
                    </h1>
                    <h1 id="rotationBtn" class="animated slideInRight inactive">
                        <span>
                            <i class="fa fa-rotate-right"/>
                        </span>
                    </h1>
                    <h1 id="seqBtn" class="Btn animated slideInRight inactive">
                        <span>
                            <i id="seqDisp" class="fa fa-retweet">
                                </i>
                        </span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section-header animated slideInTop" id="buttons" style="display:none; position:fixed; z-index:100; width: 100%;margin-top: 49px;">
        <div class="container">
            <div data-template="f-misc:buttons"/>
        </div>
    </div>
    <div class="section-header animated slideInTop" id="infoView" style="display:none; position:fixed; z-index:100; width: 100%;margin-top: 49px;">
        <div class="container">
             Informationen zu Schreiberhänden/Schreibmedien und anderen Details erhalten Sie durch Bewegen der Maus über Transkription/Edierter Text.
        </div>
    </div>
    <div id="helperUnderSectionHeader" style="height: 75px;"/>
    <div class="row" data-template="f-render:initView">
        <div id="GEwrapper">
            <div id="goldenEdition"/>
        </div>
<!--        <div class="ffacs gl_keep" data-template="f-render:facs"/>-->
<!--        <div class="ftran gl_keep" data-template="f-render:tran"/>-->
<!--        <div class="fcode gl_keep" data-template="f-render:code"/>-->
    </div>
</div>
<div id="tooltip"/>
<div data-template="f-misc:ToolbarExtended"/>
<script>
    $.getScript('js/jquery.lazyload.min.js',function(){$('.imgLazy').lazyload({});});
</script>
<script src="js/goldenconfig.js"/>
</div>
