<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>404</h1>
                <p>Diese Seite existiert nicht. Aber hier ist ein Katzenbild:</p>
                <a title="By User:Mattes [Public domain], from Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Yawning_Norwegian_Forest_Cat.JPG"><img width="512" alt="Yawning Norwegian Forest Cat" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Yawning_Norwegian_Forest_Cat.JPG/512px-Yawning_Norwegian_Forest_Cat.JPG"/></a>
            </div>
        </div>
    </div>
</div>
