<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div class="section-header" style="position:fixed; z-index:100; width: 100%;">
        <div class="container">
            <div class="row">
                <div id="nb-title" class="col-xs-6 col-sm-6 col-md-3">
                    <h1 class="animated slideInLeft">
                        <span>Inhaltsverzeichnis zu allen Notizbüchern</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div id="helperUnderSectionHeader" style="height: 75px;"/>
    <div data-template="f-content:main"/>
</div>
