<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div class="container">
        <div data-template="f-misc:kaesten"/>
    </div>
</div>
