<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div id="mirador" style="width:100%; height:900px; margin-top: 50px">
        <div data-template="f-misc:mirador"/>
    </div>
</div>
