<div>
  <div class="autocomplete">
    <input id="index-query"/>
    <script src="js/EasyAutocomplete-1.3.5/jquery.easy-autocomplete.min.js"/>
    <script src="js/EasyAutocomplete.js"/>
  </div>

  <ul id="index-query-selection">
      <li class="checkbox">
            <label>
                <input type="checkbox" name="listEvent" checked="true"/>Ereignisse</label>
        </li>
      <li class="checkbox">
            <label>
                <input type="checkbox" name="listOrg" checked="true"/>Institutionen und Körperschaften</label>
        </li>
      <li class="checkbox">
            <label>
                <input type="checkbox" name="listPerson" checked="true"/>Personen und Werke</label>
        </li>
      <li class="checkbox">
            <label>
                <input type="checkbox" name="listPlace" checked="true"/>Geographisches Register</label>
        </li>
      <li class="checkbox">
            <label>
                <input type="checkbox" name="list-works" checked="true"/>Werke</label>
        </li>
      <li class="checkbox">
            <label>
                <input type="checkbox" name="list-Fontane" checked="true"/>Fontanes Werke</label>
        </li>
      <li class="checkbox">
            <label>
                <input type="checkbox" name="list-periodicals" checked="true"/>Periodika</label>
        </li>
  </ul>
  <hr/>
</div>
