<div data-template="templates:surround" data-template-with="/../../sade-projects/textgrid/templates/tmpl1/page_index.html" data-template-at="content-container">
    <div class="section-header" style="position:fixed; z-index:100; width: 100%;">
        <div class="container">
            <div class="row" style="white-space:nowrap;">
                <div id="nb-title" class="hidden-xs hidden-sm col-md-4">
                    <h1 class="animated slideInLeft">
                        <span>Register</span>
                    </h1>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5">
                    <h1 class="animated slideInLeft">
                        <span id="register-nb">
                            <span data-template="f-misc:nb-param-to-title"/>
                        </span>
                    </h1>
                </div>
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h1 class="animated slideInLeft">
                        <span id="register-panel"/>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div id="helperUnderSectionHeader" style="height: 75px;"/>
    <div class="container">
      <div data-template="templates:include" data-template-path="/../../sade-projects/textgrid/templates/tmpl1/register_include.html"/>

      <div class="row">
        <ul id="entity" data-template="ixv:items" data-template-index="list-Fontane" data-template-nb="16b00"/>
      </div>
    </div>
    <script src="js/register.js"></script>
</div>
