#ToolbarExtended {
    background-color: lightgrey;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.headerLink {
    display: none;
}
.anchor {
  /* this is the anchor from the Überblickskommentar.
    It is used to scroll to correct navbar and section-header aware position when
    using a idref link #.
   */
    display: block;
    position: relative;
    width: 0;
    height: 0;
    z-index: -1000;
    left: 0;
    top: -140px;
    visibility: hidden;
}

.rowNum:hover > .headerLink {
    display: block;
    float: left;
    margin-left: -25px;
    position: relative;
    width: 25px;
}
.reg-personGrp::before {
    content: "";
    font-family: FontAwesome;
    margin-left: -20px;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.45);
}
.reg-personGrp, .reg-person, .reg-place {
    list-style: outside none none;
}
.reg-person::before {
    content: "\f007";
    font-family: FontAwesome;
    margin-left: -20px;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.45);
}

.reg-place::before {
    content: "\f041";
    font-family: FontAwesome;
    margin-left: -20px;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.45);
}

.dokuwiki h1 {
    font-size: 1.75em;
}
.dokuwiki h2 {
    font-size: 1.6em;
}
.dokuwiki h2 .block-header h2{
    font-size: inherit;
}
.dokuwiki h3 {
    font-size: 1.5em;
}
.dokuwiki h4 {
    font-size: 1.3em;
}
.dokuwiki h5 {
    font-size: 1.15em;
}
.dokuwiki h6 {
    font-size: 1em;
}

.dokuwiki h3 .dokuLink, .dokuwiki h4 .dokuLink, .dokuwiki h5 .dokuLink, .dokuwiki h6 .dokuLink{
    display:none;
}
.dokuwiki h3:hover .dokuLink, .dokuwiki h4:hover .dokuLink, .dokuwiki h5:hover .dokuLink, .dokuwiki h6:hover .dokuLink{
    display:block;
    margin-left: -30px;
    position: absolute;
    width: 30px;
}

.dokuwiki pre, .dokuwiki code, .dokuwiki samp, .dokuwiki kbd{font-family:Consolas,"Andale Mono WT","Andale Mono","Bitstream Vera Sans Mono","Nimbus Mono L",Monaco,"Courier New",monospace;font-size:.8em;direction:ltr;text-align:left;background-color:#fbfaf9;color:#333;box-shadow:inset 0 0 .3em #ccc;border-radius:2px;}

.dokuwiki em.u code{text-decoration:underline;}
.dokuwiki dl.code dt, .dokuwiki dl.file dt{background-color:#fbfaf9;background:linear-gradient(to bottom,#eee 0,#fbfaf9 100%);color:inherit;border:1px solid #ccc;border-bottom-color:#fbfaf9;border-top-left-radius:.3em;border-top-right-radius:.3em;padding:.3em .6em .1em;margin-bottom:-1px;float:left;}
.dokuwiki dl.code dt a, .dokuwiki dl.file dt a{background-color:transparent;font-size:.875em;font-weight:normal;display:block;min-height:16px;}
.dokuwiki dl.code dd, .dokuwiki dl.file dd{margin:0;clear:left;}
.dokuwiki dl.code pre, .dokuwiki dl.file pre{box-shadow:inset -4px -4px .5em -0.3em #ccc;}
[dir=rtl] .dokuwiki dl.code dt,[dir=rtl] .dokuwiki dl.file dt{float:right;}
[dir=rtl] .dokuwiki dl.code dd,[dir=rtl] .dokuwiki dl.file dd{clear:right;}

.dokuwiki .code .co0{color:#666;font-style:italic;}
.dokuwiki .code .co4{color:#c00;font-style:italic;}
.dokuwiki .code .es5{color:#069;font-weight:bold;}
.dokuwiki .code .es6{color:#093;font-weight:bold;}
.dokuwiki .code .kw2{color:#000;font-weight:bold;}
.dokuwiki .code .kw5{color:#008000;}
.dokuwiki .code .kw6{color:#f08;font-weight:bold;}
.dokuwiki .code .me0{color:#004000;}
.dokuwiki .code .nu0{color:#c6c;}
.dokuwiki .code .re0{color:#00f;}
.dokuwiki .code .re3{color:#f33;font-weight:bold;}
.dokuwiki .code .re4{color:#099;}
.dokuwiki .code .re5{color:#603;}
.dokuwiki .code .sc-2{color:#404040;}
.dokuwiki .code .sy3{color:#000040;}
.dokuwiki .code .br0, .dokuwiki .code .sy0{color:#6c6;}
.dokuwiki .code .co1, .dokuwiki .code .coMULTI, .dokuwiki .code .sc-1{color:#008000;font-style:italic;}
.dokuwiki .code .co2, .dokuwiki .code .sy1{color:#393;}
.dokuwiki .code .co3, .dokuwiki .code .sy4{color:#008080;}
.dokuwiki .code .es0, .dokuwiki .code .es1, .dokuwiki .code .esHARD{color:#009;font-weight:bold;}
.dokuwiki .code .es2, .dokuwiki .code .es3, .dokuwiki .code .es4{color:#609;font-weight:bold;}
.dokuwiki .code .kw1, .dokuwiki .code .kw8{color:#b1b100;}
.dokuwiki .code .kw10, .dokuwiki .code .kw11, .dokuwiki .code .kw12, .dokuwiki .code .kw9{color:#039;font-weight:bold;}
.dokuwiki .code .kw13, .dokuwiki .code .kw14, .dokuwiki .code .kw15, .dokuwiki .code .kw16, .dokuwiki .code .me1, .dokuwiki .code .me2{color:#060;}
.dokuwiki .code .kw3, .dokuwiki .code .kw7, .dokuwiki .code .sy2{color:#006;}
.dokuwiki .code .kw4, .dokuwiki .code .re2{color:#933;}
.dokuwiki .code .re1,.dokuwiki .code .st0,.dokuwiki .code .st_h{color:#a31515;}

.addWrapper > svg {
    bottom: 0;
    position: absolute;
}
li[id^="AFA_"] {
    background-color: rgba(128, 128, 128, 0.1);
}
li[id^="HFA"] {
    background-color: rgba(128, 128, 128, 0.1);
}

.litvzEintrag:hover .litvzLink, .registerEintrag:hover > .registerLink  {
    display:inline-block;
}
.litvzLink, .registerLink {
    display: none;
    position: absolute;
    margin-left: -40px;
    padding-right: 50px;
    padding-bottom: 150px;
}
.litvz ul {
    list-style: none;
}
.litvz > div > div > div > ul > li::before,
.litvz > div > div > div div.panel-body > ul > li:before {
    color: grey;
    content: "\f02d";
    font-family: 'FontAwesome';
}
.litvz #VI > div > ul > li:before {
    content: "\f0ac";
}

.register-code {
    width: 25%;
}
.register-code pre {
    background-color:lightgray;
    display:none;
    position:absolute;
    line-height: 0;
    z-index: 10;
}
.register-code:hover pre {
    display: block;
}
.register-code + li {
    list-style: none;
}
.registerCode > .fa.fa-code::after {
    content: " XML";
    font-family: Lato, sans-serif;
}
code {
    line-height: 133%;
}
.fhighlighted {
    background-color: rgba(182, 71, 61, 0.25) !important;
}
.listEvent, .listOrg, .listPerson, .listPlace, .workList {
    list-style: none;
}
.workList {
    margin-left: -40px;
}
li.person::before, li.personGrp::before {
    color: grey;
    content: "\f007";
    font-family: 'FontAwesome';
    padding-right: 10px;
}
li.personGrp::before {
    content: "\f0c0";
}
li.place::before {
    color: grey;
    content: "\f041";
    font-family: 'FontAwesome';
    padding-right: 10px;
}
.nestedPlaces::before {
  content: " in: "
}
li.org::before {
    color: grey;
    content: "\f19c";
    font-family: 'FontAwesome';
    padding-right: 10px;
}
li.group.org::before {
    content: "";
	padding: 0;
}
ul.workList li.item:before, li.group.wrk > ul > li:before {
    color: grey;
    content: "\f02d";
    font-family: 'FontAwesome';
    padding-right: 10px;
}

.registerEintrag.item:before {
	color: grey;
	content: "\f02d";
	font-family: 'FontAwesome';
	padding-right: 10px;
}
.registerEintrag .creator .listPerson {
    padding: 0;
}
.registerEintrag .registerEintrag {
  margin-top:0;
}
.registerEintrag .registerEintrag[id] {
  margin-top:15px;
}
.figurenlexikon::before {
	content: " ";
	background-image: url('/public/img/figurenlexikon.svg');
	width: 28px;
	height: 24px;
	display: inline-block;
	background-size: cover;
	margin-right: 5px;
	vertical-align: middle;
}

.event:before {
    color: grey;
    content: "\f024";
    font-family: 'FontAwesome';
    padding-right: 10px;
}

.group li, .group {
    list-style: none;
}

.link-list-horizontal > li {
    display: inline;
    margin-left: -4px;
}
.link-list-horizontal > li:first-child {
    margin-left: inherit;
}
.link-list-horizontal, .variant > ul {
    display: inline;
    padding: 0;
}
.variant li {
    display: inline;
}
.link-list-horizontal > li:before {
    content: ", ";
}
.link-list-horizontal > li:first-child::before {
    content: "";
}
.label-main {
    font-weight: bold;
}
.registerEintrag {
    list-style: none;
    margin-top: 15px;
}
.itemsRef .registerEintrag {
  margin-top: inherit;
}
.label-variant::after {
    content: "Variante";
    vertical-align: super;
    color: grey;
    font-size: smaller;
}
.label-Wikidata::after {
    content: "Wikidata";
    vertical-align: super;
    color: grey;
    font-size: smaller;
}
.label-GND::after {
    content: "GND";
    vertical-align: super;
    color: grey;
    font-size: smaller;
}
.label-OpenStreetMap{
    content: "OpenStreetMap";
    vertical-align: super;
    color: grey;
    font-size: smaller;
}
.term{font-size:80%;margin-left:5px;}

#teiHeaderRow2 h4 {
    font-size: inherit;
    font-weight: bold;
}
.teiHeaderRow > td > ul {
    margin: 0;
    padding: 0;
}
.teiHeaderRow > td > ul > li{
    list-style: none;
}
.OutOfOrder {
    color: grey;
}
#content-container div.container div.tab-content form.form-inline div.form-group button.btn.btn-default {
    border: medium none;
}

#transBtn, #facsBtn, #xmlBtn, #tocBtn, #btns, #infoView, #rsBtn, #dateBtn, #refBtn, #infoViewer, #rotationBtn, #seqBtn {
    cursor: pointer;
}
#toc > ol {
    list-style: none;
    padding: 10px;}
#tocBtn, #btns, #infoViewer, #rotationBtn, #seqBtn {
    display: inline;
    margin-right: 15px;
    float:left;
    max-width: 15px;
}
#btns span i, #tocBtn span i, #infoViewer span i, #rotationBtn span i, #seqBtn span i  {
    min-width: 30px;
    text-align: center;
}
#tocBtn .fa-plus {   padding-left: 1px;
}
.listNote {
    font-size: 0.9em;
    margin-bottom: 5mm;
}
.teiHeaderToc li{
    list-style: none;
    margin-left: 25px;
    text-indent: -25px;
}
.teixml b {
    white-space: nowrap;
}
#seqBtn span i {
    background-color: transparent;
    animation-name: highlightfade;
    animation-duration: 3s;
    animation-delay: 1s;
}
@keyframes highlightfade {
    50% {background-color: rgba(182, 71, 61, 0.3);}
}
#navNext, #navPrev {
    white-space: nowrap;
}
#navPrev {position:absolute; left:0; text-align: left; width:40px;}
#navNext {position:absolute; right:0; text-align: right; width:40px;}

#navNextInfo, #navPrevInfo {display:none;}
#navNext:hover > #navNextInfo, #navPrev:hover > #navPrevInfo {display:inline}
#navNext:hover, #navPrev:hover  { width:auto; }

#NbTitle {
    color: rgba(100, 100, 100, 0.75);
    font-family: Lato;
    font-size: 1.65em;
    left: 10%;
    position: absolute;
}
#nb-title {
    white-space: nowrap;
}

.tooltip.top.in {
    position: absolute;
    top: 0 !important;
    left: 10% !important;
    width: 500%;
}
.tooltip-arrow {
/*    display: none !important; */
}
.tooltip-inner {
    background-color: #FFF;
    color:black;
    white-space:nowrap;
    font-size:115%;
    border: 1px solid grey;
}
.teixml > pre:nth-child(1) > b:nth-child(1) {
    /* headline over TEI/XML code in synoptic view  */
    font-size: 1.2em;
}

#rsBtnRefine, #dateBtnRefine, #refBtnRefine {
    display: none;
    position: absolute;
    background-color: rgba(100, 100, 100, 0.2);
    margin-top: 15px;
    width: 100%;
    padding: 10px 10px 10px 10px;
}

#rsBtnRefine > ul, #dateBtnRefine > ul, #refBtnRefine > ul  {
    list-style: outside none none;
    padding: 0px;
    text-align: center;
}

#rsBtn:hover > #rsBtnRefine, #refBtn:hover > #refBtnRefine, #dateBtn:hover > #dateBtnRefine  {display:block;}
#rsBtn.inactive:hover > #rsBtnRefine, #refBtn.inactive:hover > #refBtnRefine, #dateBtn.inactive:hover > #dateBtnRefine{display:none;}

.inactive span {
  border-bottom: 5px solid #B8B8B8 !important;
/*  padding-bottom: 10px  !important; */
}

/* Auth Stuff */
.FontaneAuth {
  padding-top: 50px;
}
/* FONTANE STUFF */

.markdown h4 {
  font-size: 20px;
  /* font-weight: 700; */
}

.markdown {padding-top:25px;}
.block-header ~ .markdown {padding-top:0;}

a  {color: #a94239;}
a:hover, a:focus {
  color: #a94239;
  text-decoration: underline;
}
.markdown p + p {
  margin-top: -5px;
}

/*  COUNTDOWN  */
#countdown a {
  display: block;
  margin-bottom: 1em;
  color: #E7F7F5;
  text-decoration: none;
}
#countdown a:last-of-type {
  font-size: 0.9em;
}
#countdown a:hover {
  text-decoration: underline;
}
#countdown ul {
  margin-bottom: 4em;
}
#countdown .chart {
  display: inline-block;
  width: 95px;
  height: 95px;
  margin: 0 10px;
  vertical-align: top;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 10px;
  text-align: center;
}
#countdown .chart span {
  display: block;
  font-size: 2em;
  font-weight: normal;
}
#countdown .chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}


/*------------------------------------------------------------------
Project:	HighLand
Version:	1.3
Created: 		18/10/2013
Last change:	07/03/2014
-------------------------------------------------------------------*/

html, body {
	font-family: 'Lato', sans-serif;
	font-size: 12pt;
	max-height: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}
h1.hl, h2.hl, h3.hl, h4.hl, h5.hl, h6.hl {
	color: #515151;
	font-weight: 300;
	text-transform: uppercase;
}
h1.hl small, h2.hl small, h3.hl small, h4.hl small, h5.hl small, h6.hl small {
	text-transform: none;
}

/* ===== Sticky Footer Trick ===== */

.wrapper {
	min-height: 100%;
	height: auto !important; /* for older versions of IE */
	height: 100%;
	margin-bottom: -347px; /* showing the footer */
	padding-top: 0px;
	padding-bottom: 347px; /* avoiding content go behind the footer */
}

/* ===== Navbar ===== */

.navbar-brand {
  background-image: url("../img/notizen.png");
  background-size: cover;
  display: block;
  width: 187px;
}

.navbar-inverse {
	background-color: #515151;
	border: none;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	font-weight: bold;
	background-color: #515151;
}
.navbar-inverse .navbar-brand {
	color: #EEEEEE;
}
.navbar-inverse .navbar-nav > li > a {
	color: #EEEEEE;
}
.navbar-inverse {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
	border-top-color: #EEEEEE;
	border-bottom-color: #EEEEEE;
}
.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
	border-top-color: #515151;
	border-bottom-color: #515151;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #EEEEEE;
	color: #515151;
}
.dropdown-menu {
	background-color: #EEEEEE;
	border: 1px solid #D6D6D6;
	border-top-color: #EEEEEE;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.dropdown-menu > li > a {
	color: #515151;
	padding: 10px 20px;
	font-size: 12px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #FFF;
	background-color: #515151;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #515151;
}

/* ===== Showcase ===== */

#wrap,
#hp-slider {
	/*height: 480px;*/
	background: url(../img/teaser.jpg) no-repeat center 90%;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg3.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg3.jpg', sizingMethod='scale')";
	border-bottom: 1px solid #eee;
	color: #fff;
	margin-top: -20px;
}
#wrap h1,
#hp-slider h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 48px;
	margin-top: 70px;
	text-transform: uppercase;
	margin-left: 70px;
	text-shadow: 1px 1px 3px #666;
}
.showcase {
	position: relative;
	width: 438px;
	height: 110px;
	margin: 90px auto;
	margin-top:280px;
}
.iMac {
	position: absolute;
	height: 300px;
	width: 351px;
	top: 0;
	right: 0;
	-webkit-animation-duration: 1s;
	-moz-animation-delay: 1s;
}
.iPad {
	position: absolute;
	height: 228px;
	width: 174px;
	top: 75px;
	left: 0;
	-webkit-animation-duration: 1.3s;
	-moz-animation-delay: 1.3s;
}
.iPhone {
	position: absolute;
	height: 152px;
	width: 56px;
	top: 145px;
	left: 130px;
	-webkit-animation-duration: 1.6s;
	-moz-animation-delay: 1.6s;
}
.macbook img {
	width: 450px;
	margin: 105.5px auto 0;
}
.tmpllist {
	margin: 50px 0 150px 70px;
}
.tmpllist ul {
	list-style-type: none;
	padding: 0;
}
.tmpllist li {
	font-weight: 300;
	font-size: 28px;
}
.tmpllist li > span {
	background: rgba(0, 0, 0, 0.25);
	padding: 5px 10px;
	line-height: 1.8;
}
.tmpllist li i.fa {
	margin-right: 20px;
}
.first {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
}
.second {
	-webkit-animation-duration: 1.3s;
	-moz-animation-duration: 1.3s;
}
.third {
	-webkit-animation-duration: 1.6s;
	-moz-animation-duration: 1.6s;
}
.fourth {
	-webkit-animation-duration: 1.9s;
	-moz-animation-duration: 1.9s;
}
.delay {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
}

/* ===== Services ===== */

.services ul {
	padding: 0;
}
.services li,
.services li:hover li,
.services li:hover {
	transition: width 0.3s;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
}
.services li {
	list-style-type: none;
	float: left;
	background: #eee;
	padding: 20px;
	margin-right: 1px;
	text-align: center;
	color: #888;
	width: 215px;
	height: 100px;
}
.services li p {
	overflow: hidden;
	white-space: nowrap;
}
.services li p a {
	visibility: hidden;
}
.services ul:hover li{
	 width: 186px;
}
.services li:hover {
	width: 328px!important;
	background: #69D2E7;
	cursor: pointer;
	color: #FFF;
	text-align: left;
}
.services li:hover i {
	float: left;
	line-height: 60px;
	margin: 0 20px 0 5px;
}
.services li:hover p a {
	visibility: visible;
	color: #FFF;
}

/* ===== Profiles ===== */

/* Avatar */

.avatar {
	position: relative;
}
.avatar-bubble,
.avatar:hover .avatar-bubble {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.avatar-bubble {
	position: absolute;
	bottom: 11px;
	left: 11px;
	right: 11px;
	width: inherit;
	padding: 15px;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	font-weight: 300;
	opacity: 0;
}
.avatar:hover .avatar-bubble {
	opacity: 1;
}
.avatar-bubble a {
	display: block;
	color: #eee;
}
.avatar-bubble a:hover {
	text-decoration: none;
	color: #fff;
}

/* Profile menu */

.user-menu > ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.user-menu > ul > li {
	border-bottom: 1px solid #EEE;
	border-right: 1px solid #EEE;
}
.user-menu > ul > li:last-child {
	border-bottom: 0;
}
.user-menu > ul > li > a {
	display: block;
	padding: 10px;
}
.user-menu > ul > li > a:hover {
	text-decoration: none;
	background: #f5f5f5;
}
.user-menu > ul > li > a.active {
	background: #f5f5f5;
}
.user-menu > ul > li > a > i.sign {
	display: inline-block;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	color: #FFF;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}
.user-menu > ul > li > a > i.fa-chevron-right {
	line-height: 40px;
	color: #515151;
	display: none;
}
.user-menu > ul > li > a:hover > i.fa-chevron-right {
	display: inline-block;
}
.user-menu > ul > li > a.active:hover > i.fa-chevron-right {
	display: none;
}

/* User status */

.user-status {
	margin-bottom: 20px;
}
.user-status > p > a {
	color: #333;
}
.user-status .input-group{
	padding: 5px;
	background: #f5f5f5;
}

/* Modal window */

.modal-content {
	border-radius: 0;
}
.modal-header {
	background: #f5f5f5;
}
.modal-header > img,
.message-answer > img {
	height: 50px;
	width: 50px;
	margin: 0 15px 15px 0;
	float: left;
	overflow: hidden;
}

/* User Stats and Gallery */

.block-inverse {
	border-radius: 5px;
	border: 1px solid #eee;
}
.block-inverse > .head-inverse {
	background: #F5F5F5;
	padding: 10px;
	border-bottom: 1px solid #EEE;
}
.block-inverse > .body-inverse {
	padding: 10px;
}
.user-gallery img {
	height: 60px;
	width: 60px;
	background: #FFF;
	border: 1px solid #dedede;
	border-radius: 60px;
	padding: 3px;
	margin: 5px;
}
.user-gallery img:hover {
		border-color: #999;
}

/* Inbox */

.pm-search {
	background: #F5F5F5;
	border-top: 1px solid #DDD;
	padding: 20px;
	margin-bottom: 15px;
}
.pm-list > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.pm-list > ul > li:first-child {
	border-top: 1px solid #EEE;
}
.pm-list > ul > li {
	padding: 15px;
	border-bottom: 1px solid #EEE;
}
.pm-list > ul > li:hover {
	background: #f5f5f5;
}
.pm-list > ul > li > p > img {
	height: 50px;
	width: 50px;
	float: left;
	margin-right: 15px;
	overflow: hidden;
}
.pm-list > ul > li > p {
	float: left;
	overflow: hidden;
	width: 50%;
	margin-bottom: 0;
}
.pm-list > ul > li > p > a.inbox-dialog {
	color: #999;
}
.pm-list > ul > li > p > a.inbox-dialog:hover {
	color: #999;
	text-decoration: none;
}
.message-answer {
	background: #F5F5F5;
	border-top: 1px solid #DDD;
	padding: 20px;
}
.message-answer > form {
	width: 80%;
	float: left;
}

/* ===== Blog ===== */

.blog-summary {
	position: relative;
	margin-bottom: 40px;
}
.blog-summary > h4 {
	line-height: 22px;
}
.blog-text {
	line-height: 1.8;
}
.timeline-block .blog-img { /* Making images smalled for timeline page */
	width: 250px;
}
.blog-img {
	padding: 10px;
	border: 1px solid #ddd;
	margin: 10px;
	width: 350px;
}
.new-story:after {
	content: "NEW!";
	font-size: 0.6em;
	color: #FFF;
	background: #f1c40f;
	padding: 3px 4px;
	margin-left: 5px;
	vertical-align: super;
}
.recent-blogs ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.recent-blogs ul li {
	padding: 7px 0;
	border-bottom: 1px dotted #ddd;
}
.recent-blogs ul li:last-child {
	border-bottom: 0;
}
.blog-months ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 50%;
	border-right: 1px solid #FFF;
}
.blog-months ul li .badge {
	background: #FFF;
	color: #666;
	border: 1px solid #ddd;
}
.new-comment {
	padding: 20px 10px 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px dashed #ddd;
	margin: 20px 0;
}
.new-comment:hover {
	border-bottom-style: solid;
}
.new-comment img {
	max-height: 64px;
	width: auto;
	float: right;
}
.comment {
	margin: 10px 0;
	border-bottom: 1px dotted #ddd;
}

/* ===== Blog Timeline ===== */

.timeline-block {
	border-left: 3px solid #eee;
	padding-left: 20px;
	margin-left: 100px;
}
.timeline-block time.timestamp {
	position: absolute;
	top: 12px;
	left: -136px;
	padding: 5px 6px;
	font-style: italic;
	color: #999;
}
.timeline-block time.timestamp:before {
	display: block;
	font-family: FontAwesome;
	content: "\f073";
	font-style: normal;
	font-size: 32px;
	margin-left: 27px;
}
.timeline-block time.timestamp:after {
	display: inline-block;
	content: "";
	height: 20px;
	width: 20px;
	border: 3px solid #DDD;
	border-radius: 26px;
	margin-left: 16px;
	background: #FFF;
}

/* ===== About Us block ===== */

img.img-about {
	width: 40%;
	padding: 10px;
	border: 1px solid #eee;
	float: left;
	margin: 0 20px 20px 0;
}

/* ===== Media objects ===== */

.media-object {
	height: 64px;
	width: 64px;
}
.media-heading a{
	color: #333;
}
.media-heading a:hover{
	color: #333;
	text-decoration: none;
}
.read-more {
	float:right;
	margin-top: 10px;
}

/* ===== Recent Works ===== */

.thumbnail {
	position: relative;
}
.thumbnail .visit {
	position: absolute;
	opacity: 0;
	width: 100%;
	text-align: center;
	top: 80px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.thumbnail:hover .visit {
	opacity: 1;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.thumbnail .visit a {
	color: #FFF;
	text-transform: uppercase;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px 20px;
}
.thumbnail .visit a:hover {
	color: #FFF;
	text-decoration: none;
}

/* ===== Steps ===== */

.step {
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
.step i {
	color: #dedede;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}
.step h4 {
	text-transform: uppercase;
}
.step .arrow {
	position: absolute;
	top: 0;
	right: -10%;
	color: #dedede;
	font-size: 100px;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}
.step:hover i {
	color: #FFA973;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}
.step:hover .arrow {
	color: #99E0FF;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}

/* ===== About Us ===== */

.about-icon {
	font-size: 52px;
	float: left;
	margin: 15px 15px 0 0;
	color: #81D685;
}
.about-p {
	overflow: hidden;
	line-height: 22px;
}
.about-btn {
	margin-top: 50px;
	text-align: center;
}

/* ===== Team ===== */
.member-left {
	text-align: left;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px dotted #eee;
}
.member-right {
	text-align: right;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px dotted #eee;
}
.team img,
.team img {
	width: 100px;
	height: 100px;
	border-radius: 50px;
}
.team .member-left img{
	float: left;
	margin-right: 50px;
}
.team .member-right img{
	float: right;
	margin-left: 50px;
}
.team .position {
	color: #ccc;
}
.team p {
	overflow: hidden;
}

/* ===== 404 error page ===== */

.not-found {
	background: #eee;
	background-image: url(../img/falling-leafs.png), -webkit-linear-gradient(top, #eee, #fff);
	background-image: url(../img/falling-leafs.png), -moz-linear-gradient(top, #eee, #fff);
}
.not-found .digits {
	color: #999;
	font-size: 250px;
	font-weight: bold;
	text-align: center;
}
.not-found .digits i {
	font-size: 200px;
	margin: 0 10px;
}
.not-found h1 {
	text-align: center;
	color: #666;
}
.not-found h2 {
	text-align: center;
	color: #999;
}
.not-found form {
	text-align: center;
	margin: 30px 0;
}

/* ===== Contact Us ===== */

.google-maps {
	position: relative;
	padding-bottom: 85.714%;
	height: 0;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* ===== Pricing ===== */

.pricing .item {
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 3px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.pricing .item:hover {
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	margin-top: -10px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.pricing .head {
	background: #69D2E7;
	padding: 30px 10px 10px;
	position: relative;
	border-radius: 3px;
	margin-bottom: 50px;
}
.pricing .head h4 {
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}
.pricing .head .arrow {
	position: absolute;
	height: 30px;
	width: 100%;
	border-top: 30px solid #69D2E7;
	border-right: 120px solid white;
	border-left: 120px solid white;
	bottom: -30px;
	left: 0;
}
.pricing .sceleton {
	text-align: center;
}
.pricing .sceleton h5 {
	font-size: 30px;
}
.pricing .sceleton span {
	font-size: 24px;
}
.pricing .sceleton ul {
	margin: 0 0 10px;
	padding: 0;
}
.pricing .sceleton li {
	list-style-type: none;
	padding: 10px 0;
	border-top: 1px dotted #ccc;
}
.pricing .sceleton li:hover {
	border-top: 1px solid #ccc;
	background: #eee;
	cursor: pointer;
}

/* ===== FAQs ===== */

.faq-cats ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.faq-cats ul li:first-child {
	margin: 0 0 15px 0;
}
.faq-cats ul li {
	margin: 15px 0 15px 0;
}
.faq-cats ul li i{
	vertical-align: middle;
	margin-right: 15px;
	color: #bbb;
}
.faq-cats ul li:hover i{
	color: #00B4FF;
}

/* ===== Gallery ===== */

.gallery-list > li:first-child {
	padding-left: 5px !important;
}
.gallery-list-bubbles > li {
	margin-bottom: 10px;
}
.gallery-list > li > a {
	color: #333;
}
.gallery-list > li > a:hover {
	text-decoration: none;
}
.gallery-text {
	display: block;
	padding: 5px 10px;
	margin: 1px 0 10px;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
}
.gallery-text > .gallery-title {
	padding: 5px 0 10px;
	font-size: 18px;
	display: block;
}
.gallery-list > li:hover .gallery-text {
	background: #00B4EF;
	color: #FFF;
}
.gallery-bubble {
	display: block;
	position: absolute;
	color: #FFF;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	margin: 0;
	left: 5px;
	right: 5px;
	bottom: 0;
	opacity: 0;
	transition: opacity 0.25s;
	-webkit-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
}
.gallery-list > li:hover .gallery-bubble {
	opacity: 1;
}

/* ===== Gallery Item ===== */

.gallery-show .carousel-inner > .item > img,
.gallery-show .carousel-inner > .item > a > img {
	margin: 0 auto;
}

.gallery-item-icons {
	font-size: 24px;
	color: #444;
}
.gallery-list-small li {
	height: 50px;
	overflow: hidden;
	margin-bottom: 10px;
}
.gallery-list-small > li:first-child {
	padding-left: 5px !important;
}

/* Showcase controls */

a.carousel-arrow {
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -50px;
	height: 100px;
	width: 50px;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	font-size: 32px;
	font-weight: 300;
	line-height: 100px;
	cursor: pointer;
	transition: all 0.25s;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	opacity: 0;
}
.carousel:hover a.carousel-arrow {
	opacity: 1;
}
a.carousel-arrow:hover,
a.carousel-arrow:active {
	text-decoration: none;
	background: #00B4FF;
}
a.carousel-arrow-prev {
	left: 0;
	right: auto;
	padding-right: 5px;
}
a.carousel-arrow-next {
	right: 0;
	left: auto;
	padding-left: 5px;
}

/* ===== Footer ===== */

footer {
	margin-top: 60px;
	padding: 20px 0;
	background: lightgrey;
	/*color: white; */
	font-weight: 500;
	color:black;
	background-image: url(../img/paper-pattern.jpg);
}

footer .headline {
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}
footer .headline h3{
	text-transform: uppercase;
	font-weight: 300;
}
footer .col-sm-4:nth-child(2) > .headline > h3 {
    visibility: hidden;
}

.legal {
	padding: 20px 0 10px 0;
	background: #838383;
	color: white;
	font-weight: 400;
}
.legal a {
    color: white;
}
.social ul {
	background: #3E7A8C;
	color: white;
	font-size: 24px;
	margin: 0;
	padding: 0;
}
.social li {
	float: left;
	display: block;
	list-style-type: none;
	width: 28px;
	height: 28px;
	background: #eee;
	margin: 0 5px 5px 0;
	text-align: center;
	line-height: 28px;
}
.social li:hover {
	background: none;
}
.social li, .social li:hover {
	transition: background 0.1s;
	-webkit-transition: background 0.1s;
	-moz-transition: background 0.1s;
}
.social li a {
	color: #3E7A8C;

}
.social li:hover a {
	color: #fff;
}
.social li a, .social li:hover a {
	transition: color 0.1s;
	-webkit-transition: color 0.1s;
	-moz-transition: color 0.1s;
}
footer .btn-default {
	color: #fff;
	background: none;
}
footer .btn-default:hover {
	color: #3E7A8C;
	background: #fff;
	font-weight: bold;
	border: 1px solid #fff;
}
footer .form-control {
	border: white;
}
footer .form-control:focus {
	border: white;
}
footer .sbtn {
	margin-bottom: 5px;
}

/* Login Header*/

li.account {
	padding: 10px 20px;
	overflow: hidden;
	min-width: 350px;
}
li.account .avatar {
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 20px 0 0;
	background: url(../img/face1.jpg);
	background-size: cover;
	background-position: center;
}
li.account p{
	overflow: hidden;
	font-size: 14px;
	text-transform: none;
	word-wrap: break-word;
}

/* ===== Login box ===== */

.form-box {
	padding: 10px 15px 20px;
	border: 1px solid #DDD;
	background: #F5F5F5;
}
.form-box h4 {
	text-transform: uppercase;
	color: #666;
}
.form-box hr {
	border-bottom: 1px solid #dedede;
}
.login-social ul {
	font-size: 20px;
	margin: 0;
	padding: 0;
}
.login-social li {
	float: left;
	display: block;
	list-style-type: none;
	width: 40px;
	height: 40px;
	margin: 20px 5px 20px 0;
	text-align: center;
	line-height: 40px;
}
.login-social li#twitter {
	background: #1dcaff;
}
.login-social li#facebook {
	background: #3B5998;
}
.login-social li#google {
	background: #dd4b39;
}
.login-social li#twitter:hover,
.login-social li#facebook:hover,
.login-social li#google:hover {
	background: none;
}
.login-social li#twitter:hover a {
	color: #1dcaff;
}
.login-social li#facebook:hover a {
	color: #3B5998;
}
.login-social li#google:hover a {
	color: #dd4b39;
}
.login-social li a {
	color: #fff;
	padding: 10px;
}
.login-social li, .login-social li:hover {
	transition: background 0.3s;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
}
.login-social li a, .login-social li:hover a:hover{
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
}
/* ===== Registration form popover ===== */

.signup .popover {
	min-width: 200px;
}

/* ===== Site search ===== */

.navbar-nav li#search {
	background: #a94239;
	background: linear-gradient(top, #a94239, #cc0000);
	background: -webkit-linear-gradient(top, #a94239, #cc0000);
	background: -moz-linear-gradient(top, #a94239, #cc0000);
	position: relative;
}
.navbar-nav li#search .search-box {
	position: absolute;
	right: 0;
	bottom: -70px;
	width: 250px;
	padding: 10px;
	background: #515151;
	background: rgba(0, 0, 0, 0.65);
	display: none;
}
.navbar-nav li#search i.margin-2 {
	margin-left: 2px;
}

/* ===== Pagination ===== */

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
	background-color: #428bca;
	border-color: #428bca;
}

/* Helper Classes */

.top-zero {
	margin-top: 0;
}
.bottom-15 {
	margin-bottom: 15px;
}
.ui-icon {
	color: #666;
}
.tab-1 {
	margin-right: 15px;
}
.tab-2 {
	margin-right: 30px;
}
.tab-3 {
	margin-right: 45px;
}
.tab-3 {
	margin-right: 60px;
}
.margin-bottom-xs {
	margin-bottom: 0;
}
@media (max-width: 768px) { /* Adjusting for mobile */
	.margin-bottom-xs {
		margin-bottom: 15px;
	}
}
.text-muted a {
	color: #999;
	text-decoration: none;
}
.text-muted a:hover {
	text-decoration: underline;
}

/* Text colors */

.text-green {
	color: #72a53b;
}
.text-blue {
	color: #00B4FF;
}
.text-red {
	color: #E74C3C;
}
.text-turquoise {
	color: #1ABC9C;
}
.text-amethyst {
	color: #9B59B6;
}

/* Background colors */

.bg-green {
	background-color: #72a53b;
}
.bg-blue {
	background-color: #00B4FF;
}
.bg-red {
	background-color: #E74C3C;
}
.bg-turquoise {
	background-color: #1ABC9C;
}
.bg-amethyst {
	background-color: #9B59B6;
}

/* ===== Scroll to Top ===== */

.scrolltotop {
	height: 48px;
	width: 48px;
	border-color: #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	color: #999;
	color: rgba(0, 0, 0, 0.3);
	font-size: 18px;
	line-height: 48px;
	border-radius: 3px;
	text-align: center;
}

/* ===== Responsive CSS ===== */

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #333;
}

@media (max-width: 1200px) { /* Adjusting for large devices */

	/* Pricing page arrows */

	.pricing .head .arrow {
		border-right-width: 95px;
		border-left-width: 95px;
	}

	/* Services */

	.services li {
		width:  174px;
	}
	.services ul:hover li{
		 width: 171px;
	}
	.services li:hover {
		 width: 250px!important;
	}
}
@media (max-width: 992px) { /* Adjusting for small devices */

	/* Pricing page arrows */

	.pricing .head .arrow {
		border-right-width: 68px;
		border-left-width: 68px;
		border-top-width: 20px;
	}

	/* Services */

	.services li {
		width:  131px;
	}
	.services ul:hover li{
		 width: 128px;
	}
	.services li:hover {
		 width: 200px!important;
	}
}
@media (max-width: 768px) { /* Adjusting for mobile */

	/* Navigation */

	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #fff;
	background-color: transparent;
	}

	/* Index page background */

	#wrap h1, #hp-slider h1 {
		font-size: 32px;
		margin: 70px 0 0 0;
		text-align: center;
		font-weight: 300;
	}
	.tmpllist {
		margin: 50px 0;
	}
	.tmpllist li {
		margin: 5px 0;
		font-size: 20px;
		font-weight: 300;
		line-height: 2;
	}

	/* Steps */

	.step {
		text-align: left;
		width: auto;
		margin: 0 0 15px 0;
	}
	.step i {
		float: left;
		margin-right: 15px;
	}
	.step .arrow {
		display: none;
	}
	.step a.sbtn {
		margin-left: 65px;
	}

	/* Registration form popover */

	.signup .popover {
		display: none;
	}

	/* 404 */

	.not-found .digits {
		font-size: 140px;
	}
	.not-found .digits i {
		font-size: 100px;
	}
	.not-found h1 {
		font-size: 30px;
		line-height: 42px;
	}
	.not-found h2 {
		font-size: 18px;
	}

	/* Pricing page */

	.pricing .head {
		padding: 20px;
	}
	.pricing .head .arrow {
		border: 0;
	}
	.pricing .item {
		margin: 20px 0;
	}
	.pricing .item:hover {
		margin: 20px 0;
	}

	/* Services */

	.services ul {
		padding: 10px 0;
		width: 100%;
	}
	.services li {
		float: none;
		padding: 20px;
		width: 100%;
		height: auto;
		margin: 0 0 1px 0;
	}
	.services li p {
		white-space: normal;
	}
	.services li p a {
		visibility: visible;
	}
	.services ul:hover li{
		 width: 100%;
	}
	.services li:hover {
		 width: 100%!important;
		 text-align: center;
	}
	.services li:hover i {
		float: none;
		line-height: 2px;
		padding: 20px;
		margin: 0;
	}
	.services li:hover p a {
		visibility: visible;
	}

	/* Showcase Carousel */

	a.carousel-arrow	{
		top: 55px;
		bottom: auto;
		height: 35px;
		width: 35px;
		border-radius: 0;
		color: #FFF;
		font-size: 18px;
		line-height: 35px;
	}
	a.carousel-arrow-prev {
		left: 50%;
		margin-left: -37px;
	}
	a.carousel-arrow-next {
		left: 50%;
	}

	/* Navbar dropdown */

	.dropdown-menu .divider {
		height: 1px;
		margin: 9px 0;
		overflow: hidden;
		background-color: #999;
	}

	/* Timeline */
	.timeline-block {
		border-left: 0;
		padding-left: 0;
		margin-left: 0;
	}
}

/*
 * Side navigation for UI elements
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar {
	margin-bottom: 50px;
}
.bs-sidebar.affix {
	position: static;
}

/* Show and affix the side nav for ui elements when space allows it */
@media (min-width: 992px) {
	.bs-sidebar .nav > .active > ul {
		display: block;
	}
	/* Widen the fixed sidebar */
	.bs-sidebar.affix,
	.bs-sidebar.affix-bottom {
		width: 293px;
	}
	.bs-sidebar.affix {
		position: fixed; /* Undo the static from mobile first approach */
	/*	top: 70px; */
	}
	.bs-sidebar.affix-bottom {
		position: absolute; /* Undo the static from mobile first approach */
	}
}
@media (min-width: 1200px) {
	/* Widen the fixed sidebar again */
	.bs-sidebar.affix-bottom,
	.bs-sidebar.affix {
		width: 360px;
	}
}

/* SADE Template additions */

#content-container {margin-top:50px;}

div.showcase div.tmpllist {
    margin-left: 170px;
}

#sidebar {
    position:absolute;
    top:55px;
    z-index: 100;
}
.nav-list ul > li {
    padding-left: 10px;
}
div#nav-textgrid ul.nav li {
    background-color: #EEEEEE;
}

.hideall {
    width:100%;
    height:100%;
    z-index:1000000;
    background-color: gray;
    opacity:0.6;}

#ccby {
    height: 42px;
    position: absolute;
    right: 0;
}

.modal-title, .modal-body {
  color: black;
}

pre {border-radius:0;}

/* dokuwiki stuff */
.note {
    background-color: lightgrey;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Baustelle.svg/274px-Baustelle.svg.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    padding: 10px 50px;
    text-transform: full-width;
}
#toggleToc {
    display:none;
    height: 0;
    position: relative;
    right: -98%;
    top: -70px;
    width: 0;
}
#dokuToc {
    background-color: #eee;
    font-size: 0.5em;
    margin-top: -35px;
}
#dokuToc li {
    margin-top: 5px;
}
/* hash link paaaaaaaaaaaaading */
.dokuwiki > h3, .dokuwiki > h4, .dokuwiki > h5, .dokuwiki > h6 {
    margin-top: -55px;
    padding-top: 55px;
}
.dokuwiki em.underline {
    font-style: normal;
    text-decoration: underline;
}
/* highlighting */

/* generic */
.highlight {background-color:yellow !important;}
.addHigh {
    background-color: cyan;
}
.modHigh {
    background-color: sandybrown;
}
.delHigh {
    background-color: skyblue;
}
.hiHigh {
    background-color: yellowgreen;
}
.latnHigh { background-color: #FE2EF7;}
.plc.rsHigh {background-color: rgb(0,255,0);}
.psn.rsHigh {background-color: rgb(255,0,255);}
.wrk.rsHigh {background-color: rgb(255,190,0);}
.org.rsHigh {background-color: rgb(255,170,255);}
.eve.rsHigh {background-color: rgb(170,255,0);}
.dateHigh {background-color: rgb(0,181,192);}

/* buttons */
#rsBtn > h1 > span  {border-color: #EE78A6;}
#dateBtn > h1 > span  {border-color: #00B5C0;}
#addBtn > h1 > span {
    border-color:cyan;
}
#modBtn > h1 > span {
    border-color:sandybrown;
}
#delBtn > h1 > span {
    border-color:skyblue;
}
#hiBtn > h1 > span {
    border-color:yellowgreen;
}
.inactive > h1 > span, #hiBtn.inactive > h1 > span, #addBtn.inactive > h1 > span, #delBtn.inactive > h1 > span, #modBtn.inactive > h1 > span  {border-color:#B8B8B8;}

/* #navPrev {position:absolute; left:0; text-align: left; width:40px;} */
/* #navNext {position:absolute; right:0; text-align: right; width:40px;} */

.BtnExt {
    background-color: #ffffff;
    bottom: 50px;
    display: none;
    position: absolute;
}
.BtnExt > ul {
    list-style: outside none none;
    text-align: left;
}

#hiBtn {    background-color: yellowgreen; }
#delBtn {   background-color: skyblue; }
#modBtn {   background-color: sandybrown; }
#addBtn {   background-color: cyan; }
#latnBtn {  background-color: #FE2EF7;}
#scriptBtn {background-color: #FF195E;}
#scriptBtn:hover > .BtnExt { display:block;}
.cleanHigh {background-color: #FF195E;}
.angularHigh {background-color: #00C5FF;}
.hastyHigh {background-color: #CCBE14;}

#addBtn.inactive, #modBtn.inactive, #delBtn.inactive, #hiBtn.inactive, #latnBtn.inactive, #scriptBtn.inactive { background-color: #ffffff; }

.intro {
    margin-top: 15px;
    margin-bottom:30px;
}

/* use a different cursor then "text" on nb-title, because a click triggers golden layout reset */
#nb-title{
    cursor:no-drop;
}

.xmlTitle {
    font-size:18px;
    font-weight: 300;
    text-transform: uppercase;
}

pre {
    background-color:inherit;
}

/*.lm_active .lm_title {*/
/*    color: #B6473D;*/
/*}*/

.facet-area li {
    list-style: none;
}
.facetSelected {
  background-color: lightgrey;
}
.glyphicon.glyphicon-minus-sign {
    margin-right: 8px;
    font-size: small;
}
.facet-area ul {
  padding-left: 20px;
  padding-bottom: 20px;
}
.facet-area ul li {
  padding-bottom: 3px;
}

/* TEI style */
.column {
    display: flex;
    justify-content: space-between;
}
.tab-content pre {
    z-index: 10;
}

/* Stellenkommentar */
.notes > ul > li > ul {
    font-family: 'Lato';
}
.notes > ul > li {
    font-family: 'Fontine';
}
li.editorialNote li {
    font-family: "Lato";
    list-style: none;
}

/* Navigator */
.tocview li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    border-right: 1px solid lightgrey;
}
.tocview li img {
    max-width:75px;
}
.tocview li:last-child {
	border-right: none;
}
.toc-checker input[type=checkbox] {
    visibility: hidden;
}
.toc-checker {
	width: 40px;
	position: absolute;
	display: inline-block;
	right: 0;
	margin-top: -28px;
}
.toc-checker label {
    cursor: pointer;
    position: absolute;
    width: 39px;
    height: 39px;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
    display: none;
}
.toc-checker label::after {
	opacity: 0.1;
	content: '';
	position: absolute;
	width: 20px;
	height: 8px;
	background: transparent;
	top: 12px;
	left: 10px;
	border: 4px solid #B6473D;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}
.toc-checker  label:hover::after {
    opacity: 0.5;
}
.toc-checker  input[type=checkbox]:checked + label:after {
    opacity: 1;
}

#eac-container-index-query > ul {
  overflow-y: auto;
  max-height: 65vh;
}

.gesamtinhaltsverzeichnis li.tocItem > .nbname {
  color: lightgrey;
}

#regImage img {
    max-height: 25em;
}

ul.paginationAlphabet li {
    display: inline-block;
    padding: 10px;
}
