#editedText .nb-label {
    border: 1px black;
    border-style:solid;
    width: 33%;
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #f6f1ed;
    border-radius: 5px;
}

#editedText ul {
    list-style-type: none;
}

#editedText .expan {
    display: none;
}

#editedText .nb-centered {
    text-align: center;
}

#editedText .nb-head {
    margin-top: 40px;
    margin-bottom: 20px;
}

#editedText .nb-label-head {
    margin-top: auto;
}

#editedText .fa {
    font-size: inherit;
    padding-left: 5px;
}

#editedText .fa:hover,
#editedText .nb-index-entry {
    cursor: pointer;
}

#editedText a.nb-index-entry:hover,
#editedText a.nb-index-entry:focus,
#editedText a.nb-index-entry:active {
    text-decoration: none;
}

#editedText .nb-index-entry:hover {
    background-color: #b6473d ;
    background-color: rgba(182, 71, 61, 0.15);
    border-radius: 5px;

}


#editedText .nb-underline {
    text-decoration: none;
    border-bottom: 1px solid;
    color: inherit;
}

#editedText .nb-toc-list {
    padding-left: 0;
}

#editedText .nb-sketch {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 75%;
}

#editedText .nb-img {
    width: 100%;
    display: block;
    margin: 10px 0 10px 0;
    text-align: center;
}

#editedText .nb-double-img {
    width: 100%;
    text-align: center;
}

/* D1 */
#editedText .nb-double-img[id="719e6ae667061cfc884b436071321a0b"] {
    margin-bottom: 56px;
}

#editedText .nb-caption-data {
    vertical-align: top;
    padding-top: 5px;
}

#editedText .nb-caption {
    display: block;
    font-size: smaller !important;
}

#editedText .nb-caption-la {
    margin-left: 15px;
}

#editedText .nb-caption-ra {
    text-align: right;
    margin-right: 15px;
}

#editedText .nb-list li {
    padding-top: 10px;
    padding-bottom: 10px;
}

#editedText .nb-paragraph {
    display: inline-block;
    margin-left: 20px;
}

#editedText .nb-paragraph::after {
    content: " ";
}

#editedText .nb-verses {
    padding: 25px;
}

/* fonts */

#editedText {
    line-height: 1.7em;
}

#editedText body {
    font-family: 'Fontine';
}

#editedText .Latn {
    font-family: 'Lato', sans-serif;
    font-size: 1.02em;
}

#editedText h2 .Latn,
#editedText h2 .Latf {
    font-size: xx-large;
}

#editedText h3 .Latn,
#editedText h3 .Latf {
    font-size: x-large;
}

#editedText h4 .Latn,
#editedText h4 .Latf {
    font-size: large;
}

#editedText h5 .Latn,
#editedText h5 .Latf {
    font-size: medium;
}

#editedText .Latf {
    font-family: 'Fontine';
    font-size: 1em;
}

#editedText .handshift {
    font-size: smaller;
    font-style: italic;
    margin: 10px 0 10px 0;
}

/* editorial notes */
#editedText .editorial-note {
    display: none;
}

/* increase contrast for all images */
#editedText img {
    filter: contrast(1.2);
}

/* navbar */
#optionsBtn,
#synBtn,
#synBtn a:hover,
#synBtn a:focus {
    cursor: pointer;
    text-decoration: none;
}

#optionsBtn .et-dropdown-menu {
    background: #f5f5f5;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 15px;
}

#optionsBtn .et-dropdown-menu .option-active {
    background: #ecc9c6;
}

#editedText .icon-visible {
    display: inline;
    padding-left: 5px;
}

#editedText .icon-invisible {
    display: none;
    padding-left: 0;
}


.etNavNextInfo {
    margin-right: 10px;
}

.etNavPrevInfo {
    margin-left: 10px;
}

/* info panels */

.et-section-header #helperUnderSectionHeader {
    display: none;
}

.et-section-header .helperUnderSectionHeader-active {
    display: block !important;
}

.et-section-header .infoView-active {
    display: block !important;
}

.et-section-header #infoViewBtn {
    display: inline;
    margin-right: 15px;
    float: left;
    max-width: 15px;
    cursor: pointer;
}


/* multiphrases and fraction*/

#editedText .multiphrase,
#editedText .fraction {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
    font-size: smaller;
    margin-top: -5px;
    margin-bottom: 10px;
}

#editedText .multiphrase .multiphrase-top,
#editedText .multiphrase .multiphrase-bottom,
#editedText .fraction .fraction-top,
#editedText .fraction .fraction-bottom{
    display: block;
    padding: 0.1em;
}

#editedText .multiphrase .multiphrase-bottom,
#editedText .fraction .fraction-bottom {
    margin-top: -10px;
}

#editedText .fraction .fraction-bottom {
    border-top: thin solid black;

}#editedText .fraction .fraction-top {
    margin-bottom: 10px;
}

/* paragraph lines */
#editedText .short-paragraph-line,
#editedText .sum {
    width: 33%;
    border-bottom: 1px black solid;
    margin-top: 20px;
    margin-left: 33%;
}

#editedText .sum,
#editedText .double-sum {
    width: 20%;
    margin-left: 0;
}

#editedText .double-sum {
   border-bottom: 4px double #333;
   padding: 10px 0;
}

/* integrations */

#editedText .integration {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#editedText .integration-bracket {
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
}


/* reichsthaler */
#editedText .rth {
    width: 12px;
}

#editedText .rth svg {
    height: 20px;
    margin-top: -18px;
}

#editedText .nb-footnote {
    border-left: 2px solid lightslategray;
    padding-left: 10px;
    margin-left: 20px;
}

#editedText .nb-missing-hyphen,
#editedText .nb-missing-syllable,
#editedText .nb-supplied {
    font-style: italic;
}

#editedText .sum,
#editedText .double-sum,
#editedText .difference {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#editedText .sum,
#editedText .difference {
    border-bottom: 1px solid black;
}

#editedText .double-sum {
    border-bottom: 3px double black;
}


#editedText .nb-computation-table {
    margin-top: 10px;
    margin-bottom: 10px;
}

#editedText .nb-computation-table td {
    padding-left: 10px;
    padding-right: 10px;
}

#editedText li {
    list-style-type: none;
}

#editedText .nb-said {
    margin-left: 20px;
}

#editedText .nb-framed {
    border: 1px solid;
    width: max-content;
    padding: 3px;
}

#editedText .nb-additional {
    margin-top: 20px;
    margin-bottom: 20px;
    border-left: 7px solid lightgray;
    padding-left: 12px;
}

#editedText .nb-marked_off {
    border-left: 1px dashed black;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#editedText .nb-editorial {
    font-style: italic;
}

#editedText .nb-blue-underlined {
    border-bottom: 1px solid royalblue;
}
