/*
all specific corrections to the generic stylesheet
place them in the alphanumeric order of the signatures
*/

#A01 #s2r .add{
  left: -0.3cm !important;
}
#A03_61r_a .line-through, #A03_61r_b .line-through, #A03_61r_c .line-through {
  background: linear-gradient(to top left,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) calc(50% - 1px),
    rgba(47,79,79,1) 50%,
    rgba(0,0,0,0) calc(50% + 1px));
}
#A03_61r_a .line-through::after, #A03_61r_b .line-through::after, #A03_61r_c .line-through::after {
    display: none;
}
#A03 #s81r.surface div.zone.illustration.figure:nth-child(2) div.zone.illustration.figure {
    background:none;
    z-index:1000;
}
#A03 #s85v .sum > .item:nth-child(2) > .line:nth-child(1) {
    text-align: left;
}
#A05 #s28r .caret_half-bow_pos-left {
    bottom: -9px !important;
}
#A05 #s31v .modHover, #A05 #s51v .retraceHover {
  margin-top: 0 !important;
}
#A06 #sBeilage_Ir {
    margin-top: 6cm;
    transform: rotate(270deg);
    z-index: 100;
    background: whitesmoke;
}

#A07 #s5r .quartercircle-upper-right {
    width: 0.5cm !important;
}
#A07 #s27r div.zone div.line span.mod.subst span.addWrapper {
    position: relative;
    top: -0.65cm;
}
#A07 #ssouter_back_cover .surface.teilabel.Signaturen-Klebchenfragment_Friedrich_Fontane.nested {
  background-color: rgba(155,155,155,0.4);
  line-height: 100% !important;
}

#A08 #s29r .line.brown_ink .add .caret_half-bow_pos-left {
  margin-left: -0.1cm;
  top: -0.1cm;
  height: 1.4cm;
}
#A09 #s12r .caret_bow_pos-right > path, #A09 #s13r .caret_bow_pos-right > path {
    stroke:
    darkslategray;
}
#A09 #s26r .superimposed {
  bottom: -1px;
}
#A09 #s28r .Absatzlinie {
  padding: 0 !important;
}
#A09 #s55r.surface div.zone span.metamark.deletion.pencil {
    background: linear-gradient(65deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) calc(50% - 1px), rgba(47,79,79,1) 50%, rgba(0,0,0,0) calc(50% + 1px));
    margin-left: -133px;
}
#A09_55r_2::after {
    content: "";
}
#A09 #s57r div.zone div.line.indent span.add svg.caret_bow_pos-left {
  left: -1.2cm !important;
}
#A09 .zone.illustration > .zone.illustration {
    display: none;
}
#A10 #s12r .below {
    border: 1px solid darkslategray;
    border-top: none;
}
#A10 #s66v div.line:nth-child(11) span.add span.above {
  left: -0.2cm !important;
}

#A11 #souter_front_cover div.surface.teilabel.Etikett_von_Fontane_angefertigt_-_Aufgeklebtes_Blatt.nested div.surface.teilabel.Etikett_von_Fontane_angefertigt_-_Aufgeklebtes_Blatt.nested {
	position: absolute;
	top: -0.3cm;
	left: 0.7cm;
	width: 7.5cm;
	height: 15.2cm;
	background-color: rgba(255, 229, 204, 0.7);
}
#A11_17v_m.mod.subst div.modHover.italic span:nth-child(3)::after {
	content: " Kreishälfte";
}
#A11 #s19v div.line:nth-child(11) > span:nth-child(4) > span:nth-child(2) > svg:nth-child(2) {
  bottom: 10px;
  position: absolute;
  margin-left: -4px;
}
#A11 #s39r #A11_39r_1.zone.addSpan div.line {
  letter-spacing: -1px !important;
}
#A15 #A15_32r_2 {
  top: 10.8cm !important;
  left: 6cm !important;
}
#A15 #s75r.surface div.zone span.metamark.integrate.bracket_right.pencil span.bracket_right {
  transform: scaleX(0.5);
  display: block;
}

#A19_12v_1 {
    margin-left: 0 !important;
}
#A19 #s53r .line span:first-child span.addWrapper svg {
    left: -1.5cm;
    top: 5px;
}
#A19 #s53r div.zone div.line span:nth-child(3) span.addWrapper span.add.above {
left: -0.1cm;
}
#A20_50r_8 {
    z-index: 1000;
}
#A20 #s42v span.mod.subst div.modHover.italic span:first-child {
    display: none;
}

#A21 #s5r .line-through-style.single_oblique45deg {
    background: linear-gradient(5deg,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) calc(50% - 1px),
      rgb(47, 79, 79) 50%,
      rgba(0,0,0,0) calc(50% + 1px));
}

#B02 #sinner_front_cover #sIr {
  z-index: 10;
  background-color: papayawhip;
}

#B02 #sIr div.zone:nth-child(7) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#B02 #sIr div.zone:nth-child(7) polyline {
    stroke: blue !important;
}

#B02 #s30r #svg3383 {
    margin-left: -0.5cm;
}
#B02.sourceDoc #s77r.surface div.zone {
    line-height: 0 !important;
}
#B02 #s77v #B02_77v_1.zone div.line span.mod.subst span.del {
  position: relative !important;
}
#B02 #s77r > div:nth-child(2) { line-height:inherit !important; }
#B02 #B02_10r_3 > span > span { left:12px; }

#B04 #s5r #B04_5r_5 svg {
	transform: scaleX(0.5) scaleY(0.8) !important;
	top: 136px;
	left: 83px;
}

#B04 #s52v span.addWrapper:nth-child(5) {
  position: relative;
}

#B05 #s7r span.addWrapper:nth-child(5) {
  position: relative !important;
}
#B05 #s5r div.zone:nth-child(2) div.zone.verse:nth-child(1) div.line:nth-child(1) span.seg:nth-child(1) span.anchored span span.addWrapper {
    margin-top: -0.2cm;
    position: absolute;
}
#B05 #s7r > div:nth-child(2) > div:nth-child(5) > div.line.margin-left.d4cm > span:nth-child(1) > span.addWrapper {left:37px !important;}
#B05 #s32v > div > div {
    top: inherit !important;
    margin-top: -1.6cm;
    margin-left: 1.3cm;
}
#B05 #s42r .zone:nth-child(5) .line:first-child span:first-child span:nth-child(4) span span:nth-child(3) {
  text-decoration-color: darkslategrey;
  border-color: #42b4e6;
}
#B05 #s42r .zone:nth-child(5) .line:nth-child(2) span.hi span.seg span.rs.direct.psn span.modSeq1.text-decoration.underline.modSeq2.underline-medium_blue_pencil.pencil.Fontane.Latf.hasty {
  text-decoration-color: darkslategrey;
  border-color: #42b4e6;
}
#B05 #s42r .zone:nth-child(5) .line:nth-child(2) span:first-child span:nth-child(4) {
  border-color: #42b4e6;
}
#B05 #s42r .zone:nth-child(5) .line:first-child  span:first-child span:nth-child(3) {
  border-color: #42b4e6;
}
#B05 #s42r .zone:nth-child(5) .line:first-child span:first-child span:nth-child(4) span span:first-child {
  border-color: #42b4e6;
}

#B06_24r_1 span.hi:nth-child(2) > span:nth-child(3), #B06_24r_1 div.line:nth-child(14) > span:nth-child(1) > span:nth-child(3) {
    padding-bottom: 4px;
}
#B06 #s38r.surface div.zone.highlighted svg#svg3383 {
    margin-left: -10px;
}
#B06 #s18r.surface div.zone span.metamark.authorial_note {
    display: block;
    transform: scaleX(0.2);
}
#B06 #s18r span.metamark span.bracket_right {
  transform: scaleX(0.63) !important;
  margin-left: -20px;
}
#B07 #B07_47v_2 > div:nth-child(4) > span:nth-child(2) > span.addWrapper > span {
    left: -0.5cm !important;
}
#B07 #s47 #B07_47v_2 div.line span span.addWrapper svg.curved_V {
  top: -13px !important;
}

#B07 #s47v .curved_V {
  top: -13px !important;
}

#B07 #B07_47v_2 > svg {
    left: -25px;
    padding: 5px;
}
#B07_49r_1 {
  z-index: -1;
}

#B09_58r_1.zone span span.addWrapper svg {
    top: 0;
}

#B10 #s12v > div > div.line.margin-left.d12cm > span.mod.subst {
    width: 9%;
}
#B10 #s12v .add {
    left: 1.1cm !important;
}
#B10_31r_1 > .zone + .zone {
    line-height: 0.45cm !important;
}
#B10_14v_1 > .zone {
    line-height: 1cm !important;
}
#B10 #B10_47r_1.zone div.zone.border-top.solid.border-left.solid.border-style.retrace div.zone {
    position:relative !important;
}

#B10_28v_1 + div.zone {
    top: 12.8cm !important;
}
#B10 #s23v .add {
    left: -0.6cm !important;
}

#B11 #s1r #sBeilage_Ir {
    transform: rotate(90deg);
    background: papayawhip;
    top: 6cm !important;
}
#B11 #s26r div.zone:nth-child(8) {
  left: -0.6cm !important;
}
#B11 #s14r > div:nth-child(2) > div.zone.text-decoration.line-through.line-through-style.single_oblique45deg.line-through-medium_brown_ink::after {
    border-left-color: inherit;
    border-left-style: solid;
    border-left-width: 2px;
    content: ' ';
    right: 50%;
    position: absolute;
    bottom: 44%;
    transform: rotate(-45deg);
    transform-origin: center center;
    height: 25%;
    left: initial;
    top: inherit;
    width: initial;
}

#B11 #s14r > div:nth-child(2) > div.zone.text-decoration.line-through.line-through-style.single_oblique135deg.line-through-medium_brown_ink::after {
    left: inherit;
    position: absolute;
    width: 20%;
    right: 40%;
    bottom: 92%;
}
#B11 #s1r > div:nth-child(1) {z-index:100;}

#B11 #s24r.surface div#B11_24r.zone span.metamark.authorial_note.pencil {
    left: -150%;
}
#B11 #s24r.surface span.metamark.authorial_note.bracket_right.pencil span.bracket_right {
    margin-left: -1.5cm;
}
#B11 #s25r.surface div.zone span.metamark.authorial_note.pencil{
    bottom: 60% !important;
    left: -100%;
}
#B11 #s26r .metamark.integrate {
    bottom: 50%;
    position: absolute;
    left: -130%;
}

#B11_49v_2.zone > div.zone.highlighted.border-left.double{
    border:none !important;
}

#B12 #s14r > div:nth-child(1) > div:nth-child(8) {
    margin-top: 6px;
}

#B13 #s32v > div:nth-child(3) > div:nth-child(4) > span.mod.subst > span.addWrapper {position: relative;}
#B13 #s32v > div:nth-child(3) > div:nth-child(4) > span.mod.subst > span.addWrapper > span {left: -1.2cm !important;}
#B13_2r_m {
	position: relative;
	display: inline;
}

#B14 #s26v > .zone:nth-child(2) {
    display: none;
}
#B14 #s44r.surface div.zone:nth-child(4) {
    width: 0 !important;
}
#B14_59v_10 > div > div.line.margin-left.d5cm > span.anchored > span > span.addWrapper > svg { right:-82px !important; }
#B14_59v_10 svg.upper-right {
    margin-right: -59px;
}

#B15 #s4r.surface > div:nth-child(6) {
  line-height: 0.45cm !important;
}
#B15 #s55v > div > div.line.margin-left.d5cm > span:nth-child(2) > span.addWrapper > .add.above {
  left: -0.7cm !important;
}
#B15 #s55v > div > div.line.margin-left.d5cm > span:nth-child(2) > span.addWrapper {
  left: 0.1cm;
}

#C01 #sIIr {
    display: none;
}
#C01 .ftran.sourceDoc > #sIIr.surface.teiclipping.Marienbild {
  display:block !important;
}

#C02 #s9r .add {
    z-index: 1000;
}
#C02_14r_1 .line:nth-child(14) .modHover span:first-child::before {
    content: "aus";
}
#C02_14r_1 .line:nth-child(15) .modHover span:first-child::before {
    content: "aus";
}

#C03 #s73v div.zone:nth-child(2) {
  z-index:1000;
}

#C04_28v_styling .underline {
    border-bottom: 1px solid;
    padding-bottom: 3px;
}
#C04_28v_styling .seg.underline > .seg.underline {
    border-bottom: 3px double;
    padding-bottom: 1px;
}

#C04_32r_styling .underline.underline-style.half-s-shapedlower-right {
    padding-bottom: 0;
}
#C04_32r_styling .seg.underline > .seg.underline {
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

#C05_3rar_1.zone div.line span span.addWrapper svg.curved_V {
    top:-12px !important;
}
#C05_18r_3 {
    left: 3.8cm !important;
}
#C06 #s16r .metamark .bracket_left {right:inherit;}
#C06 #s2vbr > div:nth-child(2) > div:nth-child(11) > span.mod.subst > span.addWrapper {
    position: relative;
    /* https://projects.gwdg.de/issues/18394 */
}
#C08_7r_2 {
  transform: scaleX(0.3) !important;
}

#C14 #s45r .retraceHover span:last-child::after {
  content: "unentziffert"
}

#D01 #sinner_back_cover #sBeilage_1r.surface.teiadditional.Visitenkarte.nested {
    display: none;
}
#D01 #sIIr {
    z-index: 10;
    background-color: ghostwhite;
}

#D02_1r_d {
  margin-top: 0;
  position: absolute;
}
#D02_15r_a.hi span.seg.text-decoration.underline span.mod.subst.addSesquipedalian div.modHover.italic.hoverTop span:first-child::before {
    content: "ge-";
}
#D02 #s26r .caret_bow_pos-left {
    left: -0.6cm !important;
}

#D03 #s4r .zone:nth-child(2) .line:nth-child(3) .above {
  left: -1.8cm !important;
}
#D03 #s4r .above + svg.quartercircle-upper-right {
    position: absolute;
    right: -8px;
    top: -12px;
}
#D03 #s24r .seg.underline > .seg.underline {
  border-bottom: inherit;
}
#D05 #s36r .zone {
    background: darkslategray;
}
#D06 #s60r .caret_bow_pos-left, #D06 #s60r .above {
  left: -1.0cm !important;
}
#D06_68v_x > * {
    border-color: darkslategray;
}
#D06 #s69v .zone:nth-child(16) {
  /* metamark connect */
    border-bottom: 1px solid sienna;
}
#D06 #sVv .metamark::before {
  display:block;
  position: absolute;
  height: 5cm;
  width: 5cm;
  background-image: url('public/img/caret_umschlungener-bogen.svg');
}

#D07 #s53r .retraceHover::before {
  content: "unter-"
}

#D08 #s68r.surface div.zone.illustration.figure div.zone:nth-child(14) div.line:nth-child(3) {
  font-size: 0.85em;
}
#D08 #s60v.surface div.zone.illustration.figure {
  top: 7.4cm !important;
}
#D08 #s37v.surface div.zone.illustration.figure div.zone{
  top: 1.2cm;
  left: 5.6cm;
}
#D08 #s30r.surface div.zone div.line span span.addWrapper svg.caretV {
  margin-left: -0.7cm !important; top: -3px;
}
#D08 #s9r.surface div.zone:nth-child(4) {
  left: initial !important;
}

#D09 #s51r .above.semicircle.right {
  margin-left: 50px;
  position: absolute;
}
#D09 #s51r .above.semicircle.right > span {
  margin-left: -45px;
}

#E06 #s3r .seg.underline > .seg.underline {
    border-bottom: 1px solid;
}
#E06 #s6rar .rend-pipe {
  color: red;
}
#E06 #s16r .add .semicircle.right {
    bottom: -8px;
}
#E06 #s16r .add .semicircle.right > * {
    top: -19px;
}
#E06 #s62r .above.semicircle.right {
    bottom: -10px;
}
#E06 #s62r .add .semicircle.right > * {
    top: -25px;
}

/* older correction, unclear notebook relation
TODO: look in the git history for when they were added and put an identifier in
front
*/

#s16r > div > div:nth-child(16) > span:nth-child(3) > span.addWrapper > span {
    left: -1.2cm !important;
}

#s7r > div:nth-child(4) > div:nth-child(3) > div > div:nth-child(1) {
    margin-left: 2cm !important;
}
#s7r > div:nth-child(4) > div:nth-child(3) > div > div:nth-child(2) {
    margin-left: 2.5cm !important;
}

#s60v > div:nth-child(1) > div.line.margin-left.d30cm > span > span > span:nth-child(3) > span.addWrapper > svg {
    top: -14px !important;
}


#s1r > div:nth-child(4) > div.line.margin-left.d22cm > span:nth-child(3) > span.addWrapper > svg {
    top: -8px !important;
}
#s12r > div.zone.text-decoration.line-through.line-through-style.single_oblique45deg::after {
    left: 14px;
    top: 27px;
    width: 50%;
}
#s21r > div > div > span.mod.subst > span.addWrapper{
    position: relative;
}
#s22r > div:nth-child(2) > div:nth-child(6) > span:nth-child(5) > span.addWrapper > svg {
    right: 0;
}
