/*
    styles for transcription view
*/

@font-face {
    font-family: Fontine;
    src: url(/public/fonts/Fontine.woff);
}
@font-face {
    font-family: FreeSans;
    font-strech: extra-condensed;
    src: url(/public/fonts/woff/FreeSans.woff);
}
@font-face {
  font-family: 'Monsieur La Doulaise';
  src: url(/public/fonts//MonsieurLaDoulaise/MonsieurLaDoulaise-Regular.ttf);
}
/* cinzel-regular - latin */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: local('Cinzel Regular'), local('Cinzel-Regular'),
       url('/public/fonts/Cinzel/cinzel-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/public/fonts/Cinzel/cinzel-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.initials {
  font-family: "Cinzel";
}

.line.script, .zone.script, .seg.script {
  font-family: 'Monsieur La Doulaise';
}
.doubleHelper{height:150px !important;transition-timing-function: linear;transition: height 1s;}
.section-header{transition-timing-function: linear;transition: height 1s;}

.butthead:before {
  margin-top: -200px;  /* header */
  padding-bottom: 200px;
  display: block;
}

.teixml {
    position: relative;
    display:none;
    /* overflow-y:scroll; < golden Layout */
}
pre {border:none;}

.surface {
    font-family: Fontine;
    font-size:medium;
    line-height: 1cm;
    color: darkslategrey;
    border-color: darkslategrey;
    stroke: darkslategrey;
    fill: darkslategrey;
}
.surface {
    position:relative;
    background: url('/public/img/fontane_empty_bg-cut-bright-compressed-repeat.png') repeat scroll 0 0 papayawhip;
    white-space: nowrap;
}
.surface .surface {
    background-image: none;
    background-color: rgba(255, 239, 213, 0.4);
}
.surface ~ .surface[id$='v'] {
    display: none;
}
.surface.nested.Broschüre + div[id] {
/* C4 36r */
    display: none;
}
.double .surface ~ .surface[id$='v'] {
    display: block;
}
/* show labels */
.surface.teilabel.nested {
    display: block;
}
/* no nested surfaces */
.surface.no-nesting .surface {
    display:none;
}

.surface.vertical_bar::after {
    content: " ";
    display: block;
    height: 100%;
    border-left: 1px solid darkslategray;
    position: absolute;
    top: 0;
    left: 18px;
}

img.facs {
width: auto;
height: 100%;
}
img[src$='loader.svg'] {
    max-width: 100%;
    max-height: 100%;
    width: 130px;
    height: 30px;
}
/* Doppelseitenansicht */
.double .facs:first-child , .double .surface:first-child {
    float: left;
    z-index:2;
}
.double .facs:nth-child(2) , .double > .surface:nth-child(2) {
    float:right;
}

.Kalenderblatt.verso {
    transform-origin: center center 0;
}

.Kalenderblatt.verso img.facs {
    width: 100%;
    height: 100%;
}
.Kalenderblatt.verso.rotate {
    transform: rotate(180deg);
}
.rowWrapper > .Kalenderblatt {
    left: 0 !important;
}

/* omit second surface on inner_front_cover */
#Ir + #Iv {
    display: none;
}

div.zone.figure > div.zone, .zone.printed_illustration > div.zone {
    background-color: rgba(255,255,255,0.5 );
}
.zone.figure { line-height:100%; }
.verticalMiddel {
    vertical-align:middle;
}
.vertical-align.super {
    font-size: 80%;
    vertical-align: super;
}
.vertical-align.sub {
    display: inline-block;
    vertical-align: sub;
    left: 0;
    position: absolute;
    margin-top: 50%;
}
.zone {
    transform-origin: left top;
    -webkit-transform-origin: left top;
}
.zone .zone {
    width:inital;
}

.zoneHover, .noteHover {
    display: none;
    background-color: rgba(100, 100, 100, 0.75);
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
	position: absolute;
	margin-top: -0.5cm;
	padding: 0px 10px;
	z-index: 100;
	line-height: 1cm;
	font-size: 0.4cm;
	font-style: italic;
	transform-origin: center center 0;
}
.zone.hover:hover > .zoneHover, .zone:hover > .zoneHover, .teinote:hover > .noteHover {
  display:block;
}
.zone:hover > .hrHover {
    display: block;
}
.teinote:hover > .noteHover {
  position:absolute;
}
.sourceDoc .editorialNote {
    display: none;
}
.zone.illustration.figure {
    z-index: -1;
}

.line * {
    position: relative;
}

.surface .zone:first-child .line:first-child .f-tooltip, .surface .line:first-child .modHover, .surface .line:first-child .addHover, .surface .line:first-child .zoneHover {
    margin-top: 35px !important;
}
/* generic tooltip */
.f-tooltip {
  background-color: rgba(100, 100, 100, 0.75);
  color: white;
  display: none;
  font-size: 0.9em;
  font-style: italic;
  line-height: 1cm;
	margin-top: -0.5cm;
	padding: 0px 10px;
  position: absolute;
	transform-origin: center center 0;
  white-space: nowrap;
  z-index: 100;
}
*:hover > .f-tooltip{
  display: block;
}

.zone.sum > .item {
    margin-left: inherit !important;
    text-align: right;
}

.addSpan {
  font-size: small;
  line-height: 120%;
}

/* EWZ innerhalb von addSpan */
.addSpan svg {
    top: 0px !important;
    height: 120%;
}

.line.metamark {
    margin-left: 0.5cm;
    position: absolute;
    margin-top: -0.5cm;
}

span.metamark.teicaret.f {
    display: inline-block;
    position: absolute;
    margin-top: -10px;
    margin-left: -5px;
}

.metamarkHover {
    display: none;
    background-color: rgba(100, 100, 100, 0.75);
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
	position: absolute;
	margin-top: -0.5cm;
	padding: 0px 10px;
	z-index: 100;
	line-height: 1cm;
	font-size: 0.4cm;
	font-style: italic;
	transform-origin: center center 0;
}
.metamark:hover .metamarkHover {
    display: block;
}

/* EWZ in metamark */
.metamark svg {
    position: absolute;
    height:1.2cm !important;
}
.metamark svg.curved_V {
    top: -24px !important;
}

.metamark .bracket_left {
  display: block;
  transform: scaleX(0.4);
  /* C6 16r in special cases */
  position: absolute;
  bottom: 50%;
  right: 50%;
  left: 50%;
}

.zone > .metamark.integrate.bracket_right > .bracket_right {
    bottom: 45%;
    position: absolute;
    transform: scaleX(0.4);
}

.metamark.authorial_note {
    display:block;
    position:absolute;
    bottom:50%;
}

.metamark.cm3 {
  bottom: 1.7cm;
  display: block;
  position: absolute;
/*  transform: scaleX(0.3); */
/* ^ herausgenommen für B3 22r */
}

.zone > .metamark.deletion{
  width: 100%;
  height: 100%;
}

/* rotation changed: https://projects.gwdg.de/issues/20803 */
.metamark.deletion {
    background:
        linear-gradient(to left bottom,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 1px),
            rgba(47,79,79,1) 50%,
            rgba(0,0,0,0) calc(50% + 1px));
    display: inline-block;
}

.metamark.deletion.medium.blue_pencil {
    background:
        linear-gradient(to bottom left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 1px),
            rgba(66,180,230,1) 50%,
            rgba(0,0,0,0) calc(50% + 1px));
    display: inline-block;
}

.metamark.deletion.noBackground {
  background: none;
}
.metamark.deletion.underline-style.semicircle {
    background: none;
}

svg.deletion-points, svg.connect-points {
  position:absolute;
  top:0;
  left: 0;
}
.medium.blue_pencil polyline {
    stroke: #42b4e6;
}

/* Latf ist Standard, siehe .sourceDoc */

.Latn {
    font-family: FreeSans;font-size:0.87em;
}
/* Archivare bekommen Schriftgröße unabhängig von Latn/Latf  */
/* https://projects.gwdg.de/issues/18218 */
.Archivar1.Latf {
    font-size: 0.87em;
}
.Archivar2.Latf {
    font-size: 0.87em;
}
.pencil {
    color: darkslategrey;
    stroke: darkslategrey;
}
.blue_pencil {
    color: #42b4e6;
    fill: #42b4e6;
    stroke: #42b4e6;
    border-color: #42b4e6;
}
.violet_pencil {
    color: #9627f0;
    fill: #9627f0;
    stroke: #9627f0;
    border-color: #9627f0;
}
.black_ink {
    color:black;
    border-color:black;
    fill:black;
    stroke:black;
}
.brown_ink {
    color: sienna;
    border-color:sienna;
    fill:sienna;
    stroke:sienna;
}
.brown_ink svg > g > polyline {
    stroke: sienna !important;
}
.blue_ink {
    color: blue;
    border-color:blue;
    fill:blue;
    stroke:blue;
}
.light_blue_ink {
    color: #6666FF;
}
.blue_ballpoint {
    color: mediumblue;
}

.modmedium_pencil .add .blue_pencil.Fontane.Latf.standard {
    color: darkslategray;
}

.handShiftnew {
    content: '\270D';
    position: absolute;
    display: block;
    margin-left: -20px;
}

/* Schriftgröße http://www.eromm.org/dcgkb/doku.php?id=fontane:gesamtdokumentation_iii.3.19 */
.xx-small {
    font-size:xx-small;
}
x-small{
    font-size: x-small;
}
small{
    font-size: small;
}
medium{
    /* nicht codiert */
    font-size: medium;
}
.large{
    font-size: large;
}
.x-large {
    font-size: x-large;
}
.xx-large {
    font-size: xx-large;
}
.font-weight.bold {
    font-weight: bold;
}
.color.red {
    color: red;
}
.text-transform.uppercase {
    text-transform: uppercase;
}
.retrace {
    position:relative;
}
.retraced {
    position: absolute;
    margin-left: -1px;
    white-space: nowrap;
}
.retraceHover {
    display: none;
    background-color: rgba(100, 100, 100, 0.75);
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
	position: absolute;
	margin-top: -1cm;
	padding: 0px 10px;
	z-index: 100;
	line-height: 1cm;
	transform-origin: center center 0;
}

.hoverTop {
    position: absolute;
    top: -100%;
}
.retraced:hover .retraceHover {
    display: block;
}
.italic {
    font-style: italic;
    font-family: initial;
}
.segHover, .restoreHover {
  display: none;
  background-color: rgba(100, 100, 100, 0.75);
  font-size: 0.9em;
  color: white;
  white-space: nowrap;
	position: absolute;
	margin-top: -0.5cm;
	padding: 0px 10px;
	z-index: 100;
	line-height: 1cm;
	font-style: italic;
	transform-origin: center center 0;
  letter-spacing: 0px;
}
.seg:hover .segHover {
    display: block;
}


.choice .expan {
    display:none;
}
.choice:hover .expan {
    display: inline-block;
    position: absolute;
    margin-top: -0.5cm;
    background-color: rgba(100,100,100,0.75);
    color: white;
    padding: 0px 10px 0px 10px;
    white-space: nowrap;
    line-height: 100%;
    font-size: medium;
}

.zone > .mod {
    display: none;
}

.mod .modHover {display:none;}

.mod:hover .modHover {
	display: inline-block;
	position: absolute;
	margin-top: -1cm;
	background-color: rgba(100, 100, 100, 0.75);
	color: #FFF;
	padding: 0px 10px;
	white-space: nowrap;
	z-index: 100;
	line-height: 1cm;
	font-size: 0.4cm;
	transform-origin: center center 0;
}
.modHover.italic > span {
    font-style: normal !important;
    font-family: Fontine;
}
.mod .mod .modHover.italic.hoverTop {
    margin-top: 2px;
}
.mod .expan.italic {
    margin-top: 2px;
}

.modSeq1.text-decoration.underline.modSeq2 {
  /* only when a modSeq2 is available */
    text-decoration: underline;
}
.modSeq2.text-decoration.underline {
    border-bottom: 1px solid darkslategrey;
    padding-bottom: 3px;
}

.mod[data-seq='2'], .mod[data-seq='3'] {
  border-bottom: 1px solid darkslategrey;
}
/* there are stairs in the seq1 line, see B14 61v */
.mod[data-seq='1'] {
    border-bottom: 1px solid darkslategrey;
    padding-bottom: 0;
}
/* B13: 25r */
.mod[data-seq="3"] {
    padding-bottom: 6px;
}

/* stamps are within tei:zone/tei:seg so, place them absolute to put them on the edge of the zone */
svg {
  position: absolute;
}

/* dont call it label - bootstrap! */
.teilabel > .zone:first-child {
  /* background-color: rgba(210, 210, 210, 0.75); */
    background-image:none;
  /*   height:100%; entfernt siehe A1 outer_front_cover; 9.5.2015  */
    width:100%;
}
/* refine surface background in case of a label */
.surface.teilabel {background:none;}

.sourceDoc > .surface > .surface.teilabel {
    background-color: rgba(100, 100, 100, 0.4);
}
/* ausgesetzt. soll berechnet werden, Hinweis von Adrian betreffend A09 */
/* #outer_front_cover div.surface.teilabel div.zone div.line { */
/*     line-height: 0.7cm !important; */
/* } */

.mod.subst {
    text-align: center;
}

.addHover {
  display: none;
  background-color: rgba(100, 100, 100, 0.75);
  font-size: 0.9em;
  color: white;
  white-space: nowrap;
	position: absolute;
	margin-top: -0.5cm;
	padding: 0px 10px;
	z-index: 100;
	line-height: 1cm;
	font-size: 0.4cm;
	transform-origin: center center 0;
}
.add:hover .addHover, .above:hover > .addHover, .below:hover > .addHover {
  display:block
}
.addHover + .addHover {
    margin-top: calc(150% + 20px);
}
.addSpanHover {
    display: none;
    background-color: rgba(100, 100, 100, 0.75);
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
	position: absolute;
	margin-top: -0.5cm;
	padding: 0px 10px;
	z-index: 100;
	line-height: 1cm;
	font-size: 0.4cm;
	transform-origin: center center 0;
}
.addSpan:hover > .addSpanHover {
    display: block;
    margin-top: -40px;
}
.add {
	font-size: 0.75em;
	position: relative;
}
.above, .below {
    position: absolute;
}
.above {
    bottom: 50%;
}
.above + svg {
    bottom: 0;
}
.above + svg.curved_V {
    bottom: 50%;
}
.above + svg.caret_bow_pos-left {
	bottom: -6px;
}
.above + svg.caret_half-bow_pos-right {
    bottom: -5px;
}

.above + svg.quartercircle-upper-right {
  position: absolute;
  right: 0;
  bottom: 0;
  /* edition.html?id=/xml/data/1zzdv.xml&page=14v */
}
.above + svg.quartercircle-upper-left {
  position: absolute;
  right: -0.8cm;
}
.above + svg.quartercircle-lower-left {
  position: absolute;
  right: -40px;
  top: -105%;
}
.below {
    top: 50%;
}

.add > svg {
    position: absolute;
}

.add > .slash {
    bottom: 0;
}
.add > .backslash {
    left: -11px;
}
.add .semicircle.bottom {
    border: 1px solid;
    border-top: 0;
    box-sizing: border-box;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    line-height: 15px;
    margin-bottom: 4px;
}
.add .semicircle.right {
    border: 1px solid;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    width: 15px;
    border-left: 0;
}
.add .semicircle.left {
    border: 1px solid;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    width: 15px;
    border-left: 0;
}
.add .superimposed {
    left: 0;
    position: absolute;
}
.addSesquipedalian .add .superimposed{
    position:relative;
}
.add .superimposed {
	font-size: 1.25em;
}
.add .superimposed.linked {
    font-size: 1.25em;
}
.mod.subst .del {
    position: relative;
}
.addSesquipedalian > .del.overwritten {
	position: absolute;
	left:0;
}
.addSesquipedalian > .add {
	position: relative;
}
.add.below + svg {
  bottom: -0.4cm;
}
.smallspace {
    margin-left: 3px;
}

.below.threequatercircle {
    border-radius: 100px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    position: relative !important;
    bottom:-0.4cm !important;
    height: 150% !important;
}
.above.threequatercircle {
    border-radius: 100px;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    position: relative !important;
}
.above.looped_arc, .below.looped_arc > * {
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: darkslategray;
    padding: 0;
    line-height: 100%;
    bottom: 100%;
}
/*
.teicaret {
    position: absolute;
}
*/

.add.rend-pipe {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.fwWrapper {
    display: inline;
    float: right;
    color: darkslategrey !important;
    font-family: 'Lucida Console',Monaco,monospace !important;
    font-size: 9pt !important;
}

.fw {
    line-height: 120%;
    position: absolute;
    right: 0;
}
.fw.fw2 {
  top: 30px;
}

.href {
    display:none;
    font-size: 0.9em;
    letter-spacing: 0;
    position: absolute;
    width: 0;
    z-index: 100;
}

.text-decoration.line-through.line-through-medium_brown_ink {
    color: inherit;
    text-decoration-color: sienna;
    -webkit-text-decoration-color: sienna;
}
.line-through.line-through-medium_pencil {
    text-decoration-color: darkslategray !important;
}

.underline {
    border-bottom: 1px solid;
}
.underline.double, .seg.underline > .seg.underline {
    border-bottom: 3px double;
}
.underline .underline .underline {
    border-bottom: 1px solid darkslategrey;
    padding-bottom: 2px;
}
.underline.wavy, .Abgrenzungslinie.wavy {
    border-image-repeat: repeat repeat;
    border-image-slice: 12 12 12 12;
    border-image-source: url('/public/img/border.png');
    border-left: 0 none;
    border-right: 0 none;
    border-style: none none solid;
    border-top: 0 none;
    border-bottom-width:3px;
}
.underline.wavy.brown_ink, .Abgrenzungslinie.wavy.brown,
.underline.underline-style.wavy.brown_ink {
    border-image-source: url('/public/img/border-brown_ink.png');
}
.underline.wavy.violet_pencil {
  border-image-source: url('/public/img/border-violet.png');
}
.underline.slightly_wavy {
    border-image-repeat: repeat repeat;
    border-image-slice: 12 12 12 12;
    border-image-source: url('/public/img/border-slightly_wavy.png');
    border-left: 0 none;
    border-right: 0 none;
    border-style: none none solid;
    border-top: 0 none;
    border-bottom-width:3px;
}
.underline.slightly_wavy.brown_ink {
    border-image-source: url('/public/img/border-slightly_wavy-brown_ink.png');
}
.underline.slightly_wavy.violet_pencil {
    border-image-source: url('/public/img/border-slightly_wavy-violet_pencil.png');
}
.underline.semicircle {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.underline.underline-style.s-shaped {
  border-image-slice: 0 0 15 0;
  border-image-source: url('/public/img/border-sshaped.png');
  border-left: 0 none;
  border-right: 0 none;
  border-style: none none solid;
  border-top: 0 none;
  border-width: 0 0 10px;
}
.underline.underline-style.s-shaped.brown_ink {
  border-image-source: url('/public/img/border-sshaped-brown_ink.png');
}
.underline.underline-style.s-shaped2 {
  border-image-slice: 0 0 80 0;
  border-image-source: url('/public/img/underline-style:s-shaped2.svg');
  border-left: 0 none;
  border-right: 0 none;
  border-style: none none solid;
  border-top: 0 none;
  border-width: 0 0 10px;
}

.underline.underline-style.half-s-shapedlower-left {
  border-image-slice: 0 0 15 0;
  border-image-source: url('/public/img/border-halfsshaped-lowerleft.png');
  border-left: 0 none;
  border-right: 0 none;
  border-style: none none solid;
  border-top: 0 none;
  border-width: 0 0 10px;
}
.underline.underline-style.half-s-shapedupper-left {
  border-image-slice: 0 0 15 0;
  border-image-source: url('/public/img/border-halfsshaped-upperleft.png');
  border-left: 0 none;
  border-right: 0 none;
  border-style: none none solid;
  border-top: 0 none;
  border-width: 0 0 10px;
}
.underline.underline-style.half-s-shapedlower-right {
  border-image-slice: 0 0 15 0;
  border-image-source: url('/public/img/border-halfsshaped-lowerright.png');
  border-left: 0 none;
  border-right: 0 none;
  border-style: none none solid;
  border-top: 0 none;
  border-width: 0 0 10px;
}
.underline-style.half-s-shapedlower-right.brown_ink {
  border-image-source: url('/public/img/border-halfsshaped-lowerright-brown_ink.png')
}
.underline.underline-style.half-s-shapedupper-right {
  border-image-slice: 0 0 15 0;
  border-image-source: url('/public/img/border-halfsshaped-upperright.png');
  border-left: 0 none;
  border-right: 0 none;
  border-style: none none solid;
  border-top: 0 none;
  border-width: 0 0 10px;
}
.underline-style.double-s {
    border-bottom: 10px solid;
    border-image-outset: 0 30px 0 30px;
    border-image-slice: 0 25 25 25;
    border-image-source: url('/public/img/underline-style:double-s.svg');
    border-image-width: 10px 25px 25px 20px;
}
.underline-style.double-s2 {
    border-bottom: 10px solid;
    border-image-outset: 0 30px 0 30px;
    border-image-slice: 0 0 1 0;
    border-image-source: url('/public/img/underline-style:double-s2.svg');
    border-image-width: 10px 20px 25px 1px;
}
.underline-style.d3_4-ellipse_right {
    border-image-outset: 0 20px 2px 10px;
    border-image-slice: 0 0 15 0;
    border-image-source: url('/public/img/underline-style:3_4-ellipse_right.svg');
    border-image-width: auto auto auto auto;
}
.underline-style.d3_4-ellipse_bottom {
    text-decoration: none;
    border-image-slice: 0 0 30 0;
    border-image-width: 30px 0px 20px 0px;
    border-image-outset: 0px 0px 5px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url('https://fontane-nb.dariah.eu/public/img/underline-style:3_4-ellipse_bottom.svg');
}
.underline-style.d3_4-ellipse_top {
    text-decoration: none;
    border-image-slice: 0 0 60 0;
    border-image-width: 30px 0px 20px 0px;
    border-image-outset: 0px 0px 5px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url('https://fontane-nb.dariah.eu/public/img/underline-style:3_4-ellipse_top.svg');
}
.underline.underline-style.quadruple {
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-image-slice: 0 0 30 0;
    border-image-source: url('/public/img/underline-style:quadruple.svg');
}
.underline.underline-style.triple {
    border-bottom-style: solid;
    border-bottom-width: 8px;
    border-image-slice: 0 0 30 0;
    border-image-source: url('/public/img/underline-style:triple.svg');
}
.underline.underline-style.zigzag {
    border-image: url('https://fontane-nb.dariah.eu/public/img/underline-style:zigzag.svg') 0 0 40 0 / 0 0px 10px 0px / 0px 0px 6px 0px;
}

.zigzag_retrace {
    border-bottom: 2px solid darkslategrey;
    padding: 7px;
}

.underline.underline-style.half-s-shapedupper-left > .underline.underline-style.half-s-shapedupper-left {
    border-image-outset: 5px 0px;
}

.underline.underline-style.bracket_top {
    border-image-slice: 0 100 100 100;
    border-image-width: 10px;
    border-image-outset: 7;
    border-image-repeat: stretch;
    border-image-source: url('/public/img/underline-style:bracket_top.svg');
}

.seg.text-decoration.underline.underline-style.x::after {
    display: inline-block;
    position: absolute;
    left: 0;
    content: " ";
    background: linear-gradient(to left bottom, transparent 50%, black 55%, transparent 45%), linear-gradient(to right bottom, transparent 50%, black 55%, transparent 45%);
    width: 100%;
    height: 7px;
    bottom: -7px;
}
.seg.text-decoration.underline.underline-style.x {
    border-bottom: 0;
}

.underline-medium_blue_pencil {
    border-color: #42b4e6;
}
.mod.modunderline-medium_red_pencil {
    text-decoration-color: red !important;
}
.underline.underline-medium_blue_pencil {
    text-decoration-color: #42b4e6;
}
.underline.underline-medium_red_pencil {
    border-color: red !important;
}

.modSeq1.text-decoration.underline.underline-medium_blue_pencil.modSeq2.pencil {
  text-decoration-color: #42b4e6;
  border-color: darkslategrey;
}
.underline .brown_ink {
    border-color: sienna;
    border-bottom-width: 1px;
}
.underline-medium_pencil {
    border-color: darkslategrey;
}
.underline-weight.bold {
    border-bottom-width: 3px;
}
.underline.underline-cancel.jagged::after {
    content: " ";
    display: inline-block;
    position: absolute;
    border-bottom-width: 5px;
    width: 100%;
    bottom: -3px;
    left: 0;
    border-bottom-color: red;
    border-bottom-style: solid;
    border-image-source: url(/public/img/border.png);
    border-image-slice: 12 12 12 12;
    border-image-repeat: repeat repeat;
}

.fw-fontane .semicircle {
    padding: 0 8px;
}
.line-through {
    text-decoration: line-through;
}
.noLineThrough {
    text-decoration: none !important;
}
.line-through-style.triple.brown_ink {
    background: linear-gradient(
      0deg,
      transparent,
      transparent calc(40% - 1px),
      sienna,
      transparent 40%,
      transparent calc(60% - 1px),
      sienna,
      transparent 60%,
      transparent calc(80% - 1px),
      sienna,
      transparent 80%);
    text-decoration: none !important;
}

.line-through-style.triple.black_ink {
    background:
      linear-gradient(
        transparent,
        transparent calc(35% - 1px),
        black,
        transparent 35%,
        transparent calc(55% - 1px),
        black,
        transparent 55%,
        transparent calc(75% - 1px),
        black,
        transparent 75%);
    text-decoration: none;
}

.line-through-style.triple.violet_pencil {
    background:
      linear-gradient(
        transparent,
        transparent calc(35% - 1px),
        #9627f0,
        transparent 35%,
        transparent calc(55% - 1px),
        #9627f0,
        transparent 55%,
        transparent calc(75% - 1px),
        #9627f0,
        transparent 75%);
    text-decoration: none;
}
.line-through.retrace {
    background-image: url('/public/img/line-through-style:retrace.svg');
    background-size: 116% 95%;
}
.line-through.jagged {
    background-image: url('/public/img/jagged.png');
    background-repeat: repeat-x;
    background-size: 100% 100%;
    text-decoration: none;
}
.line-through.jagged.violet_pencil {
  background-image: url('/public/img/jagged-violet.png');
}

/* .line-through.zigzag::before {
    background-image: url('/public/img/lts-jagged.svg');
    background-repeat: repeat;
    background-size: 100% 100%;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(90deg);
    width: 100%;
} */
.line-through.zigzag::before {
    background-image: url('/public/img/lts-zigzag.svg');
    background-repeat: repeat;
    background-size: 100% 50%;
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.line-through.zigzag.violet_pencil::before {
  background-image: url('/public/img/line-through-style:zigzag-violet_pencil.svg');
}
.line-through.zigzag {
    text-decoration: none;
}

.line-through.double, .seg.line-through .seg.line-through {
    background-image: linear-gradient(
      transparent,
      transparent calc(60% - 1px),
      black,
      transparent 60%,
      transparent calc(80% - 1px),
      black,
      transparent 80%);
    text-decoration: none;
}
.seg.line-through .seg.line-through.brown_ink {
    background-image: url('/public/img/line-through-style:double-brown_ink.svg');
    background-repeat: repeat-x;
    background-size: 100% 100%;
    text-decoration: none;
}
.line-through.double.brown_ink {
    background-image: url('/public/img/line-through-style:double-brown_ink.svg');
}
.line-through.double.black_ink {
    background-image: url('/public/img/line-through-style:double-black_ink.svg');
}
.line-through.double.violet_pencil {
    background-image: url('/public/img/line-through-style:double-violet_pencil.svg');
}
.line-through-style.wavy {
    text-decoration: line-through wavy;
}
.text-decoration.line-through.line-through-style.half-bowpos-left {
    text-decoration: none;
    background-image: url('/public/img/line-through-style:half-bow-pos-left.svg');
    background-repeat: no-repeat;
    background-size: 100% 75%;
}
.text-decoration.line-through.line-through-style.half-bowpos-left2 {
    text-decoration: none;
    background-image: url('/public/img/line-through-style:half-bow-pos-left2.svg');
    background-repeat: no-repeat;
    background-size: 100% 75%;
}
.line-through.single_oblique90deg::before {
    border-color: inherit;
    border-top-style: solid;
    border-top-width: 2px;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(90deg);
}
.line-through.single_oblique90deg {
    text-decoration:none;
}

.line-through.double_oblique90deg.line-through-medium_pencil {
    text-decoration: none;
    background: linear-gradient(90deg,
      transparent 0%,
      transparent calc(25% - 1px),
      black 25%,
      transparent calc(25% + 1px),
      transparent calc(75% - 1px),
      black 75%,
      transparent calc(75% + 1px)
    );
}

.letter-spacing .line-through.single_oblique90deg::before {
    left: -7px;
}
.triple_oblique1 {
    border-top-color: inherit;
    border-top-style: solid;
    border-top-width: 1px;
    content: '';
    left: 0;
    position: absolute;
    right: 8px;
    top: 0;
    transform: rotate(45deg);
}
.line-through.triple_oblique45deg {
      background:
        linear-gradient(45deg,
          transparent,
          transparent calc(35% - 2px),
          black,
          transparent 35%,
          transparent calc(55% - 2px),
          black,
          transparent 55%,
          transparent calc(75% - 2px),
          black,
          transparent 75%);
      text-decoration: none;
}
.line-through.triple_oblique45deg.brown_ink {
      background:
        linear-gradient(45deg,
          transparent,
          transparent calc(35% - 2px),
          sienna,
          transparent 35%,
          transparent calc(55% - 2px),
          sienna,
          transparent 55%,
          transparent calc(75% - 2px),
          sienna,
          transparent 75%);
      text-decoration: none;
}
.line-through-style.double_oblique45deg::before {
    border-top-color: inherit;
    border-top-style: solid;
    border-top-width: 1px;
    content: ' ';
    position: absolute;
    right: -50%;
    top: 50%;
    transform: rotate(45deg);
    width: 100%;
}

.line-through-style.double_oblique45deg::after {
    border-top-color: inherit;
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 50%;
    content: ' ';
    left: 0;
    position: absolute;
    transform: rotate(45deg);
    width: 100%;
}
.line-through-style.double_oblique45deg{
    text-decoration: none;
}

.line-through-style.x.line-through-medium_blue_pencil {
    background-image: url('/public/img/line-through-style:x-blue_pencil.svg');
    background-repeat: no-repeat;
}
.line-through.single_oblique45deg {
    text-decoration:none;
}
.line-through-style.single_oblique45deg {
    background:
        linear-gradient(to bottom left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 1px),
            rgba(47,79,79,1) 50%,
            rgba(0,0,0,0) calc(50% + 1px));
}
.line-through-style.single_oblique45deg.brown_ink {
    background:
        linear-gradient(to bottom left,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 1px),
            rgba(160,82,45,1) 50%,
            rgba(0,0,0,0) calc(50% + 1px));
}

.line-through.single_oblique135deg {
    text-decoration:none;
}
.line-through-style.single_oblique135deg::after {
    border-top-color: inherit;
    border-top-style: solid;
    border-top-width: 1px;
    content: ' ';
    left: -25%;
    position: absolute;
    top: 9px;
    transform: rotate(135deg);
    width: 150%;
}
.line-through-style.double_oblique135deg {
  background:
    linear-gradient(
      135deg,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) calc(40% - 1px),
      rgba(47,79,79,1) 40%,
      rgba(0,0,0,0) calc(40% + 1px),
      rgba(0,0,0,0) calc(60% - 1px),
      rgba(47,79,79,1) 60%,
      rgba(0,0,0,0) calc(60% + 1px)
    );
}
.line-through-style.double_oblique345deg {
  text-decoration: none;
  background:
    linear-gradient(
      345deg,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) calc(40% - 1px),
      rgba(47,79,79,1) 40%,
      rgba(0,0,0,0) calc(40% + 1px),
      rgba(0,0,0,0) calc(60% - 1px),
      rgba(47,79,79,1) 60%,
      rgba(0,0,0,0) calc(60% + 1px)
    );
}

.line-through-style.triple_oblique135deg {
  background:
    linear-gradient(
      135deg,
      rgba(0,0,0,0) 0%,
      rgba(0,0,0,0) calc(20% - 1px),
      rgba(47,79,79,1) 20%,
      rgba(0,0,0,0) calc(20% + 1px),
      rgba(0,0,0,0) calc(40% - 1px),
      rgba(47,79,79,1) 40%,
      rgba(0,0,0,0) calc(40% + 1px),
      rgba(0,0,0,0) calc(60% - 1px),
      rgba(47,79,79,1) 60%,
      rgba(0,0,0,0) calc(60% + 1px)
    );
}

.line-through-style.x {
    text-decoration: none;
}
.line-through-style.x, .line-through-style.x.line-through-medium_pencil {
    background:
        linear-gradient(to left bottom,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 1px),
            rgba(47,79,79,1) 50%,
            rgba(0,0,0,0) calc(50% + 1px)),
        linear-gradient(to right bottom,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 1px),
            rgba(47,79,79,1) 50%,
            rgba(0,0,0,0) calc(50% + 1px));
}

.line-through-style.x.line-through-medium_blue_pencil {
    background:
        linear-gradient(to left bottom,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 1px),
            rgba(66,180,230,1) 50%,
            rgba(0,0,0,0) calc(50% + 1px)),
        linear-gradient(to right bottom,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(50% - 1px),
            rgba(66,180,230,1) 50%,
            rgba(0,0,0,0) calc(50% + 1px));
}

.line-through.line-through-style.angle{
    text-decoration: none;
}
.line-through.angle:before, .line-through.angle:after {
    content: ' ';
    position: absolute;
    height: 100%;
}
.line-through.angle:before {
    border-left: 1px solid black;
    transform: rotate(40deg);
    top: 0px;
    position: absolute;
    left: 35%;
}
.line-through.angle:after {
    border-left: 1px solid black;
    transform: rotate(-40deg);
    top: 0px;
    position: absolute;
    right: 30%;
}
.line-through.line-through-style.double_oblique135deg {
    text-decoration: none;
}
.line-through.multiple_oblique135deg {
    text-decoration: none;
}
.line-through.multiple_oblique45deg {
    text-decoration: none;
}
.multiple_oblique45deg {
    background:
      linear-gradient(45deg,
        rgba(0,0,0,0) calc(20% - 1px),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,0) calc(20% + 1px),
        rgba(0,0,0,0) calc(40% - 1px),
        rgba(0,0,0,1) 40%,
        rgba(0,0,0,0) calc(40% + 1px),
        rgba(0,0,0,0) calc(60% - 1px),
        rgba(0,0,0,1) 60%,
        rgba(0,0,0,0) calc(60% + 1px),
        rgba(0,0,0,0) calc(80% - 1px),
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0) calc(80% + 1px));
}
.multiple_oblique45deg.brown_ink {
    background:
        linear-gradient(45deg,
            rgba(0,0,0,0) 20%,
            rgba(160, 82, 45,1) 20%,
            rgba(0,0,0,0) 21%,
            rgba(0,0,0,0) 39%,
            rgba(0,0,0,0) 40%,
            rgba(160, 82, 45,1) 40%,
            rgba(0,0,0,0) 41%,
            rgba(0,0,0,0) 60%,
            rgba(160, 82, 45,1) 60%,
            rgba(0,0,0,0) 61%,
            rgba(0,0,0,0) 80%,
            rgba(160, 82, 45,1) 80%,
            rgba(0,0,0,0) 81%);
}
.multiple_oblique135deg {
    background:
        linear-gradient(135deg,
            rgba(0,0,0,0) 20%,
            rgba(0,0,0,1) 20%,
            rgba(0,0,0,0) 21%,
            rgba(0,0,0,0) 39%,
            rgba(0,0,0,0) 40%,
            rgba(0,0,0,1) 40%,
            rgba(0,0,0,0) 41%,
            rgba(0,0,0,0) 60%,
            rgba(0,0,0,1) 60%,
            rgba(0,0,0,0) 61%,
            rgba(0,0,0,0) 80%,
            rgba(0,0,0,1) 80%,
            rgba(0,0,0,0) 81%);
}
.multiple_oblique135deg.multiple_oblique45deg {
    background:
        linear-gradient(45deg,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(20% - 1px),
            rgba(0,0,0,1) 20%,
            rgba(0,0,0,0) calc(20% + 1px),
            rgba(0,0,0,0) calc(40% - 1px),
            rgba(0,0,0,1) 40%,
            rgba(0,0,0,0) calc(40% + 1px),
            rgba(0,0,0,0) calc(60% - 1px),
            rgba(0,0,0,1) 60%,
            rgba(0,0,0,0) calc(60% + 1px),
            rgba(0,0,0,0) calc(80% - 1px),
            rgba(0,0,0,1) 80%,
            rgba(0,0,0,0) calc(80% + 1px)),
        linear-gradient(135deg,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(20% - 1px),
            rgba(0,0,0,1) 20%,
            rgba(0,0,0,0) calc(20% + 1px),
            rgba(0,0,0,0) calc(40% - 1px),
            rgba(0,0,0,1) 40%,
            rgba(0,0,0,0) calc(40% + 1px),
            rgba(0,0,0,0) calc(60% - 1px),
            rgba(0,0,0,1) 60%,
            rgba(0,0,0,0) calc(60% + 1px),
            rgba(0,0,0,0) calc(80% - 1px),
            rgba(0,0,0,1) 80%,
            rgba(0,0,0,0) calc(80% + 1px));
}
.multiple_oblique135deg.multiple_oblique45deg.brown_ink {
    background:
        linear-gradient(45deg,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(20% - 1px),
            rgba(160,82,45,1) 20%,
            rgba(0,0,0,0) calc(20% + 1px),
            rgba(0,0,0,0) calc(40% - 1px),
            rgba(160,82,45,1) 40%,
            rgba(0,0,0,0) calc(40% + 1px),
            rgba(0,0,0,0) calc(60% - 1px),
            rgba(160,82,45,1) 60%,
            rgba(0,0,0,0) calc(60% + 1px),
            rgba(0,0,0,0) calc(80% - 1px),
            rgba(160,82,45,1) 80%,
            rgba(0,0,0,0) calc(80% + 1px)),
        linear-gradient(135deg,
            rgba(0,0,0,0) 0%,
            rgba(0,0,0,0) calc(20% - 1px),
            rgba(160,82,45,1) 20%,
            rgba(0,0,0,0) calc(20% + 1px),
            rgba(0,0,0,0) calc(40% - 1px),
            rgba(160,82,45,1) 40%,
            rgba(0,0,0,0) calc(40% + 1px),
            rgba(0,0,0,0) calc(60% - 1px),
            rgba(160,82,45,1) 60%,
            rgba(0,0,0,0) calc(60% + 1px),
            rgba(0,0,0,0) calc(80% - 1px),
            rgba(160,82,45,1) 80%,
            rgba(0,0,0,0) calc(80% + 1px));
}

.cancelLeft::before {
    content: '|';
}
.cancelRight::after {
    content: "|";
    position: relative;
    margin-left: 100%;
    top: -15px;
}

/* hash encoded within tei:del/@rend */
.del.hash::before {
  bottom: 0;
  content: '#';
  position: absolute;
  top: -8px;
  width: 100%;
}




.border-right.solid{
    border-right: 1px solid;
}
.border-left.solid{
    border-left: 1px solid;
}
.border-top.solid{
    border-top: 1px solid;
}
.border-bottom.solid{
    border-bottom: 1px solid;
}
.border-right-style.wavy{
    border-style: solid;
    border-width: 0 7px 0 0;
    -moz-border-image: url('/public/img/border-wavy.png') 27 27 26 repeat;
    -webkit-border-image: url('/public/img/border-wavy.png') 27 27 26 repeat;
    -o-border-image: url('/public/img/border-wavy.png') 27 27 26 repeat;
    border-image: url('/public/img/border-wavy.png') 27 27 26 fill repeat;
}
.border-right-style.wavy.brown_ink {
    -moz-border-image: url('/public/img/border-wavy-brown_ink.png') 27 27 26 repeat;
    -webkit-border-image: url('/public/img/border-wavy-brown_ink.png') 27 27 26 repeat;
    -o-border-image: url('/public/img/border-wavy-brown_ink.png') 27 27 26 repeat;
    border-image: url('/public/img/border-wavy-brown_ink.png') 27 27 26 fill repeat;
}
.border-bottom-style.wavy{
    border-style: solid;
    border-width: 0 0 7px 0;
    -moz-border-image: url('/public/img/border-wavy.png') 27 27 26 repeat;
    -webkit-border-image: url('/public/img/border-wavy.png') 27 27 26 repeat;
    -o-border-image: url('/public/img/border-wavy.png') 27 27 26 repeat;
    border-image: url('/public/img/border-wavy.png') 27 27 26 fill repeat;
}
.border-left-style.wavy {
    border-left-style: solid;
    border-width: 0 0 0 7px;
    -moz-border-image: url('/public/img/border-wavy.png') 27 27 26 repeat;
    -webkit-border-image: url('/public/img/border-wavy.png') 27 27 26 repeat;
    -o-border-image: url('/public/img/border-wavy.png') 27 27 26 repeat;
    border-image: url('/public/img/border-wavy.png') 27 27 26 fill repeat;
}
.border-left-style.retrace {
    border-image-slice: 13 27 55 95;
    border-image-width: 0px 0px 0px 20px;
    border-image-outset: 0px 0px 0px 20px;
    border-image-repeat: stretch stretch;
    border-image-source: url('/public/img/border:retrace.svg');
}
.border-left-style.retrace.border-medium_blue_pencil {
    border-image-slice: 13 27 55 95;
    border-image-width: 0px 0px 0px 20px;
    border-image-outset: 0px 0px 0px 20px;
    border-image-repeat: stretch stretch;
    border-image-source: url('/public/img/border:retrace-blue_pencil.svg');
}
.border-left-style.retrace.border-medium_red_pencil{
        border-image-source: url('/public/img/border:retrace-red_pencil.svg');
}
.border-style.retrace {
    border-image-slice: 64 72 60 84;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-source: url('/public/img/border:retrace-all.svg');
}

.border-top.solid.border-left.solid.border-style.retrace {
    border-image-width: 20px 0 0 20px;
}

.border-radius50{
    border-radius:50%;
}

.border-left.double{
    border-left: 4px double;
}
.border-right.double{
  border-right: 4px double;
}
.border-left.double.border-left-style.wavy, .border-right.double.border-right-style.wavy  {
    border-left: 7px solid;
}
.border-left.triple {
    border-image-slice: 1 1 1 10;
    border-image-width: 0px 0px 0px 10px;
    border-image-outset: 0px 0px 0px 5px;
    border-image-repeat: stretch stretch;
    border-image-source: url('/public/img/border:triple.svg');
}

.border-left.double .border-left.double {
    border-image-slice: 1 1 1 14;
    border-image-width: 0px 0px 0px 10px;
    border-image-outset: 0px 0px 0px 7px;
    border-image-repeat: stretch stretch;
    border-image-source: url('/public/img/border:quad.svg');

}

.border-left-style.brace {
    border-image-slice: 2 0 2 10;
    border-image-source: url('/public/img/bracket-left.svg');
    border-image-width: 0 0 0px 10px;
    border-left:0;
}
.border-left-style.brace.border-medium_brown_ink {
    border-image-source: url('/public/img/bracket-left-brown_ink.svg');
}

.border-medium_blue_pencil {
    border-color: #42b4e6 !important;
}
.border-medium_red_pencil {
    border-color: red !important;
}
.border.solid.border-radius50.border-medium_red_pencil {
    border: 1px solid red;
}
.border.solid {
    border: 1px solid;
}
.border-top.dashed {
    border-top-style: dashed !important;
}
.border-top-color.red {
    border-top-color: red !important;
}
.padding-right.d05cm {
    padding-right: 0.5cm;
}
.zone.margin-top.d05cm.margin-left.minus-07cm {
	left: auto !important;
	margin-top: 0.5cm;
	position: absolute !important;
	margin-left: -0.7cm;
}
.zone.margin-left.minus-17cm.margin-top.d07cm {
  left: auto !important;
  margin-top: 0.7cm;
  position: absolute !important;
  margin-left: -1.7cm;
}
.border-right.dashed {
    border-right-width: 1px;
    border-right-style: dashed;
}
.border-bottom.solid.border-bottom-style.brace {
    border-image-slice: 38 0 38 0;
    border-image-width: 0 0 1cm 0;
    border-image-outset: 0 0 38px 0;
    border-image-source: url('/public/img/horizontale-geschweifte-klammer.svg');
}
.border-medium_black_ink {
	border-color: black;
}

/* oblique borders */
.border-right-style.oblique315deg{ border-right:none !important; }
.border-right-style.oblique315deg::after {
    height: 100%;
    content: """";
    position: absolute;
    top: 0;
    border-right: 1px solid darkslategrey;
    transform: rotate(45deg);
    transform-origin: top;
}
.border-left-style.oblique45deg{ border-left:none !important; }
.border-left-style.oblique45deg::before {
    height: 100%;
    content: """";
    position: absolute;
    border-right: 1px solid darkslategrey;
    transform: rotate(315deg);
    transform-origin: top;
    right: 0;
}

.metamark.integrate.bracket_bottom {
    border-image-slice: 38 0 38 0;
    border-image-width: 0 0 1cm 0;
    border-image-outset: 0 0 0 0;
    border-image-source: url('/public/img/horizontale-geschweifte-klammer.svg');
    border-bottom: 1cm solid transparent;
    display: block;
}

.fraction {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
}
.fraction .bottom {
    border-top: 1px solid;
    display: block;
}
/*
.g.mgem:before {content:'\E0000'}
.g.ngem:before {content:'\E0001'}
*/
.g.rth {
    display: inline-block;
    top: 5px;
    width: 10px;
}
.brown_ink .g svg path {
    stroke: sienna !important;
}
.instant:after {content:'\21AF'}
.unclear:before , .unclear:after{
  content: '?';
  line-height: 100%;
  font-size: 0.8em;
  font-style: italic;
  vertical-align: super;
}

.instantHover {
  display: none;
  background-color: rgba(100, 100, 100, 0.75);
  font-size: 0.9em;
  color: white;
  white-space: nowrap;
	position: absolute;
	margin-top: -1.9cm;
	padding: 0px 10px;
	z-index: 100;
	line-height: 1cm;
	transform-origin: center center 0;
}
.del.instant:hover > .instantHover {display:block}
.del.instant {display:inline-block;}

.restore {
    border-bottom: 1px dotted black;
}
.restore:hover .restoreHover {
    display: block;
}
.del .restore .del .text-decoration.line-through {
  /* zurückgenommene gültige durchsterichung */
    text-decoration: line-through;
}
.gap.illegible:after {
  content: 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx';
  display: inline-block;
 /* position: absolute; */
  overflow:hidden;
  height:100%;
  font-style: italic;
}
.gap.illegible.mm1:after { max-width: 1mm;}
.gap.illegible.mm10:after { max-width: 10mm;}
.gap.illegible.mm11:after { max-width: 11mm;}
.gap.illegible.mm12:after { max-width: 12mm;}
.gap.illegible.mm13:after { max-width: 13mm;}
.gap.illegible.mm14:after { max-width: 14mm;}
.gap.illegible.mm16:after { max-width: 16mm;}
.gap.illegible.mm17:after { max-width: 17mm;}
.gap.illegible.mm18:after { max-width: 18mm;}
.gap.illegible.mm19:after { max-width: 19mm;}
.gap.illegible.mm2:after { max-width: 2mm;}
.gap.illegible.mm20:after { max-width: 20mm;}
.gap.illegible.mm21:after { max-width: 21mm;}
.gap.illegible.mm22:after { max-width: 22mm;}
.gap.illegible.mm24:after { max-width: 24mm;}
.gap.illegible.mm25:after { max-width: 25mm;}
.gap.illegible.mm26:after { max-width: 26mm;}
.gap.illegible.mm28:after { max-width: 28mm;}
.gap.illegible.mm29:after { max-width: 29mm;}
.gap.illegible.mm3:after { max-width: 3mm;}
.gap.illegible.mm35:after { max-width: 35mm;}
.gap.illegible.mm38:after { max-width: 38mm;}
.gap.illegible.mm4:after { max-width: 4mm;}
.gap.illegible.mm40:after { max-width: 40mm;}
.gap.illegible.mm41:after { max-width: 41mm;}
.gap.illegible.mm42:after { max-width: 42mm;}
.gap.illegible.mm45:after { max-width: 45mm;}
.gap.illegible.mm5:after { max-width: 5mm;}
.gap.illegible.mm50:after { max-width: 50mm;}
.gap.illegible.mm6:after { max-width: 6mm;}
.gap.illegible.mm61:after { max-width: 61mm;}
.gap.illegible.mm7:after { max-width: 7mm;}
.gap.illegible.mm79:after { max-width: 79mm;}
.gap.illegible.mm9:after { max-width: 9mm;}

.gap.illegible.words1:after {
  content: "x---x";
}
.italic .gap.illegible {
  display: none;
}

/* characters */

    /* no case */

.illegible.chars1::after {
    content: 'x';
    font-style: italic;
}

    /* lower case */

.illegible.lc_chars1::after {
    content: 'x';
    font-style: italic;
}
.illegible.lc_chars2::after {
    content: 'xx';
    font-style: italic;
}
.illegible.lc_chars3::after {
    content: 'xxx';
    font-style: italic;
}

    /* upper case */

.illegible.uc_chars1::after {
    content: 'X';
    font-style: italic;
}
.illegible.uc_chars2::after {
    content: 'XX';
    font-style: italic;
}
.illegible.uc_chars3::after {
    content: 'XXX';
    font-style: italic;
}

/* words */
    /* capital */
.illegible.cap_words1::after {
    content: 'X---x';
    font-style: italic;
}
.illegible.cap_words2::after {
    content: 'X---x X---x';
    font-style: italic;
}
    /* uncap */
.illegible.uncap_words1::after {
    content: 'x---x';
    font-style: italic;
}
.illegible.uncap_words2::after {
    content: 'x---x x---x';
    font-style: italic;
}
.illegible.uncap_word_chars5:after{
  content: 'x---x';
  font-style: italic;
}

.letter-spacing {
    margin-left: 5px;
    margin-right: 5px;
}

/* Absatzlinie */
hr.Absatzlinie, hr.Summenstrich, hr.Differenzstrich {
    border-color: inherit;
    margin: 0;
/*    padding: 10px; */
    position: relative;
}
hr.Absatzlinie + hr.Absatzlinie {
    margin-left: 8px;
    margin-top: 1px;
}

/* Abgrenzungslinie */
hr.Abgrenzungslinie {
    border-color: inherit;
    margin: 0;
    position: relative;
}
hr.Abgrenzungslinie + hr.Abgrenzungslinie {
    margin-left: 8px;
    margin-top: 1px;
}
hr.Abgrenzungslinie.Halbkreis {
    margin: 0;
    position: relative;
    border: solid 1px;
    height: 1cm;
    border-radius: 50%;
    border-bottom: none;
    border-right: none;
    border-left: none;
}
hr.Abgrenzungslinie.curvy_bracket {
    border-image-slice: 38 0 38 0;
    border-image-width: 0 0 1cm 0;
    border-image-outset: 0 0 0 0;
    border-image-source: url('/public/img/horizontale-geschweifte-klammer.svg');
    border-bottom: 1cm solid transparent;
    display: block;
    position: relative;
    margin-top: -15px;
}
.Absatzlinie.underline.slightly_wavy {
    padding-bottom: 0px !important;
}

/* Schlusslinie */
hr.Schlusslinie {
    border-color: inherit;
    color: black;
    margin: 0;
    position: relative;
}
hr.Schlusslinie.slightly_wavy.brown_ink {
  border-image-repeat: repeat repeat;
  border-image-slice: 12 12 12 12;
  border-image-source: url('/public/img/border-slightly_wavy-brown_ink.png');
  border-left: 0 none;
  border-right: 0 none;
  border-style: none none solid;
  border-top: 0 none;
  border-bottom-width:3px;
}
hr.Schlusslinie.slightly_wavy.black_ink {
  border-image-repeat: repeat repeat;
  border-image-slice: 12 12 12 12;
  border-image-source: url('/public/img/border-slightly_wavy.png');
  border-left: 0 none;
  border-right: 0 none;
  border-style: none none solid;
  border-top: 0 none;
  border-bottom-width:3px;
}
hr.Seitenzahlabgrenzungslinie {
    margin: 0;
    border: 0.5px solid black;
}

.hrHover {
    display: none;
    background-color: rgba(100, 100, 100, 0.75);
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
	position: absolute;
	margin-top: -0.5cm;
	padding: 0px 10px;
	z-index: 100;
	line-height: 1cm;
	font-style: italic;
	transform-origin: center center 0;
}
hr:hover + .hrHover {
    display: block;
}
.zone.figure:hover > .hrHover {
    display: block;
}
svg:hover + .hrHover {
    display: block;
}
.hrHover:hover {
    display: block;
}
/* damage */
.damage.mm::after {
    content: 'x---x x---x';
    font-style: italic;
}

/* Sonderzeichen */
.sonderzeichen > .hover, .g.rth > .hover {
    display: none;
    background-color: rgba(100, 100, 100, 0.75);
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
	position: absolute;
	margin-top: -0.5cm;
	padding: 0px 10px;
	z-index: 100;
	line-height: 1cm;
	font-style: italic;
	transform-origin: center center 0;
}

.sonderzeichen:hover > .hover, .g.rth:hover > .hover {
    display:inline-block;
}

/* rendition */
.Kalenderblatt .aligncenter{
    text-align:center;
}
.line.flexjustify {
    display: flex;
    justify-content: space-between;
}
/* milestone */
span.milestone.paragraph:after {
  content: 'milestone: Absatz';
  position: absolute;
  right: -130px;
  border: 1px solid black;
  border-top-right-radius: 21px;
  padding: 3px;
  border-bottom-left-radius: 21px;
  font-family: monospace;
  font-size: 9pt;
  background-color: lightgray;
}

span.milestone.paragraph {
  border-bottom: 1px solid black;
  display: block;
}

/* space */
.space.cm2 {
    width: 2cm;
    display: inline-block;
}
.space.pause, .space.placeholder {
  display: inline-block;
  height: 28px;
  width: 1cm;
}
.spaceHover {
    display: none;
    background-color: rgba(100, 100, 100, 0.75);
    font-size: 0.9em;
    color: white;
    white-space: nowrap;
	position: absolute;
	margin-top: -0.5cm;
	padding: 0px 10px;
	z-index: 100;
	line-height: 1cm;
	font-style: italic;
	transform-origin: center center 0;
}
.space:hover > .spaceHover {
  display:block
}

/* remove pointer events from all SVG */
svg {
  pointer-events: none;
}
svg line, svg path {
    pointer-events: all;
}

#newfremde_Hand1:before,
#newfremde_Hand3:before,
#newunbekannte_p:before,
#newFriedrich_Fontane:before,
#newDruck_p:before,
#newStempel2:before,
#newDruck_z:before,
#newKersten:before,
#newStempel5:before,
#newStempel_3:before,
#newfremde_Hand2:before,
#newStempel1:before,
#newEmilie_Fontane-Schreiberin:before,
#newunbekannt_p:before,
#newfremde_Hand6:before,
#newfremde_Hand5:before,
#newfremde_Hand11:before,
#newStempel_2:before,
#newEmiie_Fontane-Schreiberin:before,
#newfremde_Hand_2:before,
#newStempel9:before,
#newunbekannt_z:before,
#newunbekannte_z:before,
#newStempel10:before,
#newStempel11:before,
#newunbekannte_z-unsicher:before,
#newunbekannt_z-unsicher:before,
#newfremde_Hand4:before,
#newArchviar2:before,
#newStempel8:before,
#newHübner:before,
#newLucae:before,
#newfremde_Hand9:before,
#newEduard_Ponge:before,
#newFontnae:before,
#newfremde Hand6:before,
#newFriedrich_Fontane:before {
    content: '✍';
    position: absolute;
    margin-left: -20px;
}

*:hover > div {letter-spacing: initial;}

/* DEBUGGING FEATURES
.surface {border: 2px solid red;}
.zone {border: 2px solid lightpink;}
*/
